/***** BEGIN LICENSE BLOCK *****
Version: MPL 1.1/GPL 2.0/LGPL 2.1

The contents of this file are subject to the Mozilla Public License Version
1.1 (the "License"); you may not use this file except in compliance with
the License. You may obtain a copy of the License at http://www.mozilla.org/MPL/

Software distributed under the License is distributed on an "AS IS" basis,
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the
specific language governing rights and limitations under the License.

The Original Code is easyGestures.

The Initial Developer of the Original Code is Ons Besbes.

Contributor(s):
  ngdeleito

Alternatively, the contents of this file may be used under the terms of either
the GNU General Public License Version 2 or later (the "GPL"), or the GNU Lesser
General Public License Version 2.1 or later (the "LGPL"), in which case the
provisions of the GPL or the LGPL are applicable instead of those above. If you
wish to allow use of your version of this file only under the terms of either
the GPL or the LGPL, and not to allow others to use your version of this file
under the terms of the MPL, indicate your decision by deleting the provisions
above and replace them with the notice and other provisions required by the GPL
or the LGPL. If you do not delete the provisions above, a recipient may use your
version of this file under the terms of any one of the MPL, the GPL or the LGPL.

***** END LICENSE BLOCK *****/

#easyGesturesPieMenu {
  all: initial;
  position: fixed;
  z-index: 2147483647; /* convention: max-z-index = 2^31 - 1 */
  
  --icon-size: 32px;
  --actions-node-offset: -61px;
  --extra-menu-height: 82px;
  --border-width: 2px;
  --menu-section-width: 32px;
  --cardinal-action-farthest-border-offset:
      calc(-1 * var(--actions-node-offset) - var(--icon-size) / 2);
  --cardinal-action-closest-border-offset:
      calc(var(--border-width) + (var(--menu-section-width) - var(--icon-size)) / 2);
  --tooltips-x-offset: -200px;
  --tooltips-y-offset: calc(-2.5 * var(--icon-size) - 1px);
  --tooltip-height: calc(var(--icon-size) - 2px);
  --font-size: calc(var(--tooltip-height) / 2);
  --extra-menu-y-offset: -135px;
  --extra-tooltips-y-offset: calc(var(--extra-menu-y-offset) +
                             var(--cardinal-action-farthest-border-offset) -
                             2 * var(--icon-size));
}

#easyGesturesPieMenu.smallIcons {
  --icon-size: 20px;
  --actions-node-offset: -38px;
  --extra-menu-height: 51px;
  --border-width: 1.25px;
  --menu-section-width: 20px;
  --tooltips-x-offset: -150px; /* 75% of non small */
  --extra-menu-y-offset: -83px;
}

#easyGesturesPieMenu.large {
  --actions-node-offset: -70px;
  --extra-menu-height: 94px;
  --border-width: 2.3px;
  --menu-section-width: 36.72px;
  --icon-border: 5px;
  --tooltips-x-offset: -220px;
  --tooltips-y-offset: calc(-3 * var(--icon-size) - 1px);
  --extra-menu-y-offset: -151px;
  --extra-tooltips-y-offset: calc(var(--extra-menu-y-offset) +
                             var(--cardinal-action-farthest-border-offset) -
                             2 * var(--icon-size) - 4px);
}

#easyGesturesPieMenu.large.smallIcons {
  --actions-node-offset: -44px;
  --extra-menu-height: 59px;
  --border-width: 1.44px;
  --menu-section-width: 23.08px;
  --icon-border: 3px;
  --tooltips-x-offset: -165px; /* 75% of non small */
  --extra-menu-y-offset: -97px;
}

#easyGesturesPieMenu * {
  all: initial;
  visibility: inherit;
}

#easyGesturesPieMenu > div {
  position: absolute;
}

#easyGesturesPieMenu > div > * {
  position: absolute;
}


/* Special nodes */

#easyGesturesLinkSign {
  visibility: hidden;
  background-image: url("linkSign.svg");
}

#easyGesturesPieMenu #easyGesturesLinkSign {
  left: -10px;
  top: -10px;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

#easyGesturesPieMenu.smallIcons #easyGesturesLinkSign {
  left: -7px;
  top: -7px;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
}

#easyGesturesMainMenusSign,
#easyGesturesExtraMenusSign {
  visibility: hidden;
  left: var(--icon-size);
  top: var(--tooltips-y-offset);
  width: 4em; /* border-width and width for 3 children + space between 2 children, rounded up */
  line-height: var(--icon-size);
  font-size: var(--font-size);
}

#easyGesturesExtraMenusSign {
  top: var(--extra-tooltips-y-offset);
}

#easyGesturesMainMenusSign span:only-child,
#easyGesturesExtraMenusSign span:only-child {
  display: none;
}

#easyGesturesMainMenusSign span,
#easyGesturesExtraMenusSign span {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  background-color: hsl(0, 0%, 80%);
  border: solid 0.1em hsl(0, 0%, 50%);
  border-radius: 50%;
  font-size: inherit;
}

#easyGesturesMainMenusSign span + span,
#easyGesturesExtraMenusSign span + span {
  margin-left: 0.5em;
}

#easyGesturesMainMenusSign span.active,
#easyGesturesExtraMenusSign span.active {
  background-color: hsl(0, 0%, 60%);
}

#easyGesturesContextMenuSign {
  visibility: hidden;
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 50%);
  left: var(--icon-size);
  top: var(--tooltips-y-offset);
  border: solid 1px hsl(0, 0%, 50%);
  border-radius: 4px 4px;
  padding: 2px;
  line-height: var(--font-size);
  font-family: sans-serif;
  font-size: var(--font-size);
  white-space: nowrap;
}

#easyGesturesContextMenuSign.withAltSign {
  box-shadow: 1px 1px hsl(0, 0%, 80%), 2px 2px hsl(0, 0%, 50%);
}


/* Actions */

#easyGesturesPieMenu .easyGesturesActionsNode {
  visibility: hidden;
  z-index: -1;
  background-image: url("menu.svg");
  background-size: cover;
  left: var(--actions-node-offset);
  top: var(--actions-node-offset);
  width: calc(-2 * var(--actions-node-offset));
  height: calc(-2 * var(--actions-node-offset));
}

#easyGesturesPieMenu .easyGesturesActionsNode.easyGesturesExtraNode {
  z-index: -2;
  background-image: url("extraMenu.svg");
  top: var(--extra-menu-y-offset);
  height: var(--extra-menu-height);
}

#easyGesturesPieMenu .easyGesturesActionsNode div {
  mask-size: calc(var(--icon-size) * 17);
  width: var(--icon-size);
  height: var(--icon-size);
  z-index: 1;
}

#easyGesturesPieMenu div.sector0 {
  top: var(--cardinal-action-farthest-border-offset);
  right: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu div.sector1 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) - 1px);
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) + 1px);
}
#easyGesturesPieMenu div.sector2 {
  left: var(--cardinal-action-farthest-border-offset);
  top: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu div.sector3 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) + 1px);
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) + 1px);
}
#easyGesturesPieMenu div.sector4 {
  left: var(--cardinal-action-closest-border-offset);
  top: var(--cardinal-action-farthest-border-offset);
}
#easyGesturesPieMenu div.sector5 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) + 1px);
  top: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) - 1px);
}
#easyGesturesPieMenu div.sector6 {
  left: var(--cardinal-action-farthest-border-offset);
  bottom: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu div.sector7 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) - 1px);
  top: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) - 1px);
}

#easyGesturesPieMenu.large div.sector0 {
  top: calc(-1 * var(--actions-node-offset) - var(--icon-size));
  right: var(--border-width);
}
#easyGesturesPieMenu.large div.sector1 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size));
  top: calc(-1 * var(--actions-node-offset) - 2 * var(--icon-size) + var(--icon-border));
}
#easyGesturesPieMenu.large div.sector2 {
  left: var(--cardinal-action-farthest-border-offset);
}
#easyGesturesPieMenu.large div.sector3 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size));
  top: calc(-1 * var(--actions-node-offset) - 2 * var(--icon-size) + var(--icon-border));
}
#easyGesturesPieMenu.large div.sector4 {
  left: var(--border-width);
  top: calc(-1 * var(--actions-node-offset) - var(--icon-size));
}
#easyGesturesPieMenu.large div.sector5 {
  display: block;
  left: var(--border-width);
  top: calc(-1 * var(--actions-node-offset));
}
#easyGesturesPieMenu.large div.sector6 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size));
  top: calc(-1 * var(--actions-node-offset) + var(--icon-size) - var(--icon-border));
  bottom: auto;
}
#easyGesturesPieMenu.large div.sector7 {
  left: var(--cardinal-action-farthest-border-offset);
  top: auto;
  bottom: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu.large div.sector8 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size));
  top: calc(-1 * var(--actions-node-offset) + var(--icon-size) - var(--icon-border));
}
#easyGesturesPieMenu.large div.sector9 {
  display: block;
  right: var(--border-width);
  top: calc(-1 * var(--actions-node-offset));
}

#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector0 {
  top: var(--cardinal-action-farthest-border-offset);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector1 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) + 4px);
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) - 4px);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector2 {
  top: var(--border-width);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector3 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) - 4px);
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) - 4px);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector4 {
  top: var(--cardinal-action-farthest-border-offset);
}

/* Tooltips */

#easyGesturesPieMenu .easyGesturesTooltipsNode {
  visibility: hidden;
  z-index: -2; /* tooltips are displayed below menu level */
  
  left: var(--tooltips-x-offset);
  top: var(--tooltips-y-offset);
  width: calc(-2 * var(--tooltips-x-offset));
}

#easyGesturesPieMenu .easyGesturesTooltipsNode.easyGesturesExtraNode {
  z-index: -3; /* tooltips are displayed below menu level */
  top: var(--extra-tooltips-y-offset);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode div {
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(60, 40%, 83%) hsl(0, 0%, 60%);
  padding: 0px 6px;
  background-color: hsl(60, 100%, 93%);
  color: black;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  height: var(--tooltip-height);
  line-height: var(--tooltip-height);
  font-size: var(--font-size);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip1 {
  border-top-color: hsl(0, 0%, 60%);
  border-top-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip2 {
  top: 0px;
  left: 0px;
  border-top-color: hsl(0, 0%, 60%);
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip2.extra {
  background-color: hsl(0, 100%, 90%);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip5,
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip6,
#easyGesturesPieMenu .easyGesturesExtraNode .tooltip4 {
  border-bottom-color: hsl(0, 0%, 60%);
  border-bottom-left-radius: 5px 5px;
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip5 {
  border-bottom-color: hsl(60, 40%, 83%);
  border-bottom-left-radius: 0px 0px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip6,
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip7,
#easyGesturesPieMenu .easyGesturesExtraNode .tooltip0 {
  border-bottom-color: hsl(0, 0%, 60%);
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip2 {
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  padding-right: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) + 0.5 * var(--icon-size) -
              var(--tooltip-padding) - 10px);
         /* 10px = border-left + border-right + padding-left */
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip6 { /* see tooltip2 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  top: calc(4 * var(--icon-size));
  right: 0px;
  padding-left: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) + 0.5 * var(--icon-size) -
              var(--tooltip-padding) - 10px);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip3 {
  left: 0px;
  top: var(--icon-size);
  padding-right: var(--icon-size);
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip1 { /* see tooltip3 */
  top: var(--icon-size);
  right: 0px;
  padding-left: var(--icon-size);
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip5 { /* see tooltip3 */
  left: 0px;
  top: calc(3 * var(--icon-size));
  padding-right: var(--icon-size);
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip7 { /* see tooltip5 */
  top: calc(3 * var(--icon-size));
  right: 0px;
  padding-left: var(--icon-size);
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip4 {
  left: 0px;
  top: calc(2 * var(--icon-size));
  padding-right: var(--icon-size);
  width: calc(-1 * var(--tooltips-x-offset) - 2.5 * var(--icon-size));
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip0 { /* see tooltip4 */
  top: calc(2 * var(--icon-size));
  right: 0px;
  padding-left: var(--icon-size);
  width: calc(-1 * var(--tooltips-x-offset) - 2.5 * var(--icon-size));
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip2 {
  --tooltip-padding: calc(var(--icon-size) + 6px);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip7 { /* see tooltip2 */
  --tooltip-padding: calc(var(--icon-size) + 6px);
  top: calc(5 * var(--icon-size));
  right: 0px;
  padding-left: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) + 0.5 * var(--icon-size) -
              var(--tooltip-padding) - 10px);
         /* 10px = border-left + border-right + padding-left */
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip3 {
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  padding-right: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              var(--tooltip-padding) - 10px);
         /* 10px = border-left + border-right + padding-left */
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip1 { /* see tooltip3 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  padding-left: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              var(--tooltip-padding) - 10px);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip6 { /* see tooltip3 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  left: 0px;
  top: calc(4 * var(--icon-size));
  right: auto; /* resetting default value */
  padding-left: 6px; /* resetting default value */
  padding-right: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              var(--tooltip-padding) - 10px);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip8 { /* see tooltip6 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  top: calc(4 * var(--icon-size));
  right: 0px;
  padding-left: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              var(--tooltip-padding) - 10px);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip4 {
  --tooltip-padding: calc(1.5 * var(--icon-size));
  padding-right: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              var(--tooltip-padding) - 10px);
         /* 10px = border-left + border-right + padding-left */
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip0 { /* see tooltip4 */
  --tooltip-padding: calc(1.5 * var(--icon-size));
  padding-left: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              var(--tooltip-padding) - 10px);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip5 { /* see tooltip4 */
  --tooltip-padding: calc(1.5 * var(--icon-size));
  padding-right: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              var(--tooltip-padding) - 10px);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip9 { /* see tooltip5 */
  --tooltip-padding: calc(1.5 * var(--icon-size));
  top: calc(3 * var(--icon-size));
  right: 0px;
  padding-left: var(--tooltip-padding);
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              var(--tooltip-padding) - 10px);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .selected {
  font-weight: bold;
}


/* Icons */

#easyGesturesPieMenu .easyGesturesActionsNode div {
  background-color: hsl(0, 0%, 50%);
  mask-image: url("actions.svg");
  mask-position: calc(var(--icon-position-x) * -1 * var(--icon-size))
                 calc(var(--icon-position-y) * -1 * var(--icon-size));
}
#easyGesturesPieMenu .easyGesturesActionsNode .disabled {
  background-color: hsl(0, 0%, 70%);
}
#easyGesturesPieMenu .easyGesturesActionsNode .selected:not(.disabled) {
  background-color: hsl(0, 0%, 30%);
}

#easyGesturesPieMenu .empty,
[data-action="empty"], .eG_empty {
  --icon-position-x: 2;
  --icon-position-y: 0;
}
#easyGesturesPieMenu .showExtraMenu,
[data-action="showExtraMenu"], .eG_showExtraMenu {
  --icon-position-x: 0;
  --icon-position-y: 0;
}
#easyGesturesPieMenu .showExtraMenu.selected,
#easyGesturesPieMenu .showExtraMenu.showingExtraMenu {
  --icon-position-x: 1;
  --icon-position-y: 0;
}
#easyGesturesPieMenu .back,
[data-action="back"], .eG_back {
  --icon-position-x: 0;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .backSite,
[data-action="backSite"], .eG_backSite {
  --icon-position-x: 1;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .firstPage,
[data-action="firstPage"], .eG_firstPage {
  --icon-position-x: 2;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .forward,
[data-action="forward"], .eG_forward {
  --icon-position-x: 3;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .forwardSite,
[data-action="forwardSite"], .eG_forwardSite {
  --icon-position-x: 4;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .lastPage,
[data-action="lastPage"], .eG_lastPage {
  --icon-position-x: 5;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .reload,
[data-action="reload"], .eG_reload {
  --icon-position-x: 6;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .homepage,
[data-action="homepage"], .eG_homepage {
  --icon-position-x: 7;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .pageTop,
[data-action="pageTop"], .eG_pageTop {
  --icon-position-x: 8;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .pageBottom,
[data-action="pageBottom"], .eG_pageBottom {
  --icon-position-x: 9;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .savePageAs,
[data-action="savePageAs"], .eG_savePageAs {
  --icon-position-x: 10;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .printPage,
[data-action="printPage"], .eG_printPage {
  --icon-position-x: 11;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .showPrintPreview,
[data-action="showPrintPreview"], .eG_showPrintPreview {
  --icon-position-x: 12;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .searchWeb,
[data-action="searchWeb"], .eG_searchWeb {
  --icon-position-x: 13;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .loadPageInNewTab,
[data-action="loadPageInNewTab"], .eG_loadPageInNewTab {
  --icon-position-x: 0;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .loadPageInNewPrivateWindow,
[data-action="loadPageInNewPrivateWindow"], .eG_loadPageInNewPrivateWindow {
  --icon-position-x: 1;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .moveTabToNewWindow,
[data-action="moveTabToNewWindow"], .eG_moveTabToNewWindow {
  --icon-position-x: 2;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .copyPageURL,
[data-action="copyPageURL"], .eG_copyPageURL {
  --icon-position-x: 3;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .copyURLToIdentifier,
[data-action="copyURLToIdentifier"], .eG_copyURLToIdentifier {
  --icon-position-x: 4;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .zoomIn,
[data-action="zoomIn"], .eG_zoomIn {
  --icon-position-x: 5;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .zoomOut,
[data-action="zoomOut"], .eG_zoomOut {
  --icon-position-x: 6;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .zoomReset,
[data-action="zoomReset"], .eG_zoomReset {
  --icon-position-x: 7;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .findAndHighlightSelection,
[data-action="findAndHighlightSelection"], .eG_findAndHighlightSelection {
  --icon-position-x: 8;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .removeHighlight,
[data-action="removeHighlight"], .eG_removeHighlight {
  --icon-position-x: 9;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .enterReaderMode,
[data-action="enterReaderMode"], .eG_enterReaderMode {
  --icon-position-x: 10;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .takeTabScreenshot,
[data-action="takeTabScreenshot"], .eG_takeTabScreenshot {
  --icon-position-x: 11;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .toggleFullscreen,
[data-action="toggleFullscreen"], .eG_toggleFullscreen {
  --icon-position-x: 12;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .up,
[data-action="up"], .eG_up {
  --icon-position-x: 13;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .root,
[data-action="root"], .eG_root {
  --icon-position-x: 14;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .showOnlyThisFrame,
[data-action="showOnlyThisFrame"], .eG_showOnlyThisFrame {
  --icon-position-x: 15;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .viewPageSource,
[data-action="viewPageSource"], .eG_viewPageSource {
  --icon-position-x: 16;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .newTab,
[data-action="newTab"], .eG_newTab {
  --icon-position-x: 0;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .newBlankTab,
[data-action="newBlankTab"], .eG_newBlankTab {
  --icon-position-x: 1;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .duplicateTab,
[data-action="duplicateTab"], .eG_duplicateTab {
  --icon-position-x: 2;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .closeTab,
[data-action="closeTab"], .eG_closeTab {
  --icon-position-x: 3;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .closeOtherTabs,
[data-action="closeOtherTabs"], .eG_closeOtherTabs {
  --icon-position-x: 4;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .undoCloseTab,
[data-action="undoCloseTab"], .eG_undoCloseTab {
  --icon-position-x: 5;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .previousTab,
[data-action="previousTab"], .eG_previousTab {
  --icon-position-x: 6;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .nextTab,
[data-action="nextTab"], .eG_nextTab {
  --icon-position-x: 7;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .pinUnpinTab,
[data-action="pinUnpinTab"], .eG_pinUnpinTab {
  --icon-position-x: 8;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .newWindow,
[data-action="newWindow"], .eG_newWindow {
  --icon-position-x: 0;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .newBlankWindow,
[data-action="newBlankWindow"], .eG_newBlankWindow {
  --icon-position-x: 1;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .newPrivateWindow,
[data-action="newPrivateWindow"], .eG_newPrivateWindow {
  --icon-position-x: 2;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .duplicateWindow,
[data-action="duplicateWindow"], .eG_duplicateWindow {
  --icon-position-x: 3;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .minimizeWindow,
[data-action="minimizeWindow"], .eG_minimizeWindow {
  --icon-position-x: 4;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .closeWindow,
[data-action="closeWindow"], .eG_closeWindow {
  --icon-position-x: 5;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .closeOtherWindows,
[data-action="closeOtherWindows"], .eG_closeOtherWindows {
  --icon-position-x: 6;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .undoCloseWindow,
[data-action="undoCloseWindow"], .eG_undoCloseWindow {
  --icon-position-x: 7;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .openLink,
[data-action="openLink"], .eG_openLink {
  --icon-position-x: 0;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .openLinkInNewWindow,
[data-action="openLinkInNewWindow"], .eG_openLinkInNewWindow {
  --icon-position-x: 1;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .openLinkInNewPrivateWindow,
[data-action="openLinkInNewPrivateWindow"], .eG_openLinkInNewPrivateWindow {
  --icon-position-x: 2;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .copyLink,
[data-action="copyLink"], .eG_copyLink {
  --icon-position-x: 3;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .saveLinkAs,
[data-action="saveLinkAs"], .eG_saveLinkAs {
  --icon-position-x: 4;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .dailyReadings,
[data-action="dailyReadings"], .eG_dailyReadings {
  --icon-position-x: 0;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkThisPage,
[data-action="bookmarkThisPage"], .eG_bookmarkThisPage {
  --icon-position-x: 1;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkThisIdentifier,
[data-action="bookmarkThisIdentifier"], .eG_bookmarkThisIdentifier {
  --icon-position-x: 2;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkThisLink,
[data-action="bookmarkThisLink"], .eG_bookmarkThisLink {
  --icon-position-x: 3;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkAllTabs,
[data-action="bookmarkAllTabs"], .eG_bookmarkAllTabs {
  --icon-position-x: 4;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .removeBookmarkToThisPage,
[data-action="removeBookmarkToThisPage"], .eG_removeBookmarkToThisPage {
  --icon-position-x: 5;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .removeBookmarkToThisIdentifier,
[data-action="removeBookmarkToThisIdentifier"],
.eG_removeBookmarkToThisIdentifier {
  --icon-position-x: 6;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .removeBookmarkToThisLink,
[data-action="removeBookmarkToThisLink"], .eG_removeBookmarkToThisLink {
  --icon-position-x: 7;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .loadURL1,
[data-action="loadURL1"], .eG_loadURL1 {
  --icon-position-x: 0;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL2,
[data-action="loadURL2"], .eG_loadURL2 {
  --icon-position-x: 1;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL3,
[data-action="loadURL3"], .eG_loadURL3 {
  --icon-position-x: 2;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL4,
[data-action="loadURL4"], .eG_loadURL4 {
  --icon-position-x: 3;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL5,
[data-action="loadURL5"], .eG_loadURL5 {
  --icon-position-x: 4;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL6,
[data-action="loadURL6"], .eG_loadURL6 {
  --icon-position-x: 5;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL7,
[data-action="loadURL7"], .eG_loadURL7 {
  --icon-position-x: 6;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL8,
[data-action="loadURL8"], .eG_loadURL8 {
  --icon-position-x: 7;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL9,
[data-action="loadURL9"], .eG_loadURL9 {
  --icon-position-x: 8;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL10,
[data-action="loadURL10"], .eG_loadURL10 {
  --icon-position-x: 9;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .runScript1,
[data-action="runScript1"], .eG_runScript1 {
  --icon-position-x: 0;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript2,
[data-action="runScript2"], .eG_runScript2 {
  --icon-position-x: 1;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript3,
[data-action="runScript3"], .eG_runScript3 {
  --icon-position-x: 2;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript4,
[data-action="runScript4"], .eG_runScript4 {
  --icon-position-x: 3;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript5,
[data-action="runScript5"], .eG_runScript5 {
  --icon-position-x: 4;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript6,
[data-action="runScript6"], .eG_runScript6 {
  --icon-position-x: 5;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript7,
[data-action="runScript7"], .eG_runScript7 {
  --icon-position-x: 6;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript8,
[data-action="runScript8"], .eG_runScript8 {
  --icon-position-x: 7;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript9,
[data-action="runScript9"], .eG_runScript9 {
  --icon-position-x: 8;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript10,
[data-action="runScript10"], .eG_runScript10 {
  --icon-position-x: 9;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .easyGesturesActionsNode .customIcon {
  --mask-size-value: calc(var(--icon-size) * 0.625);
  mask-repeat: no-repeat;
  mask-size: var(--mask-size-value) var(--mask-size-value) !important;
  mask-position: calc(var(--mask-size-value) * 0.3) calc(var(--mask-size-value) * 0.3);
}
#easyGesturesPieMenu .easyGesturesNPreferences,
[data-action="easyGesturesNPreferences"], .eG_easyGesturesNPreferences {
  --icon-position-x: 0;
  --icon-position-y: 9;
}
#easyGesturesPieMenu .copyImageLocation,
[data-action="copyImageLocation"], .eG_copyImageLocation {
  --icon-position-x: 0;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .copyImage,
[data-action="copyImage"], .eG_copyImage {
  --icon-position-x: 1;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .saveImageAs,
[data-action="saveImageAs"], .eG_saveImageAs {
  --icon-position-x: 2;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .hideImages,
[data-action="hideImages"], .eG_hideImages {
  --icon-position-x: 3;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .cut,
[data-action="cut"], .eG_cut {
  --icon-position-x: 0;
  --icon-position-y: 11;
}
#easyGesturesPieMenu .copy,
[data-action="copy"], .eG_copy {
  --icon-position-x: 1;
  --icon-position-y: 11;
}
#easyGesturesPieMenu .paste,
[data-action="paste"], .eG_paste {
  --icon-position-x: 2;
  --icon-position-y: 11;
}
#easyGesturesPieMenu .selectAll,
[data-action="selectAll"], .eG_selectAll {
  --icon-position-x: 3;
  --icon-position-y: 11;
}


/* SMALL ICONS */

span[class^="eG_"] {
  --icon-size: 32px;
  display: inline-block;
  background-color: black;
  mask-image: url("actions.svg");
  width: var(--icon-size);
  height: var(--icon-size);
  mask-position: calc(var(--icon-position-x) * -1 * var(--icon-size))
                 calc(var(--icon-position-y) * -1 * var(--icon-size));
}
