/***** BEGIN LICENSE BLOCK *****
Version: MPL 1.1/GPL 2.0/LGPL 2.1

The contents of this file are subject to the Mozilla Public License Version
1.1 (the "License"); you may not use this file except in compliance with
the License. You may obtain a copy of the License at http://www.mozilla.org/MPL/

Software distributed under the License is distributed on an "AS IS" basis,
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the
specific language governing rights and limitations under the License.

The Original Code is easyGestures.

The Initial Developer of the Original Code is Ons Besbes.

Contributor(s):
  ngdeleito

Alternatively, the contents of this file may be used under the terms of either
the GNU General Public License Version 2 or later (the "GPL"), or the GNU Lesser
General Public License Version 2.1 or later (the "LGPL"), in which case the
provisions of the GPL or the LGPL are applicable instead of those above. If you
wish to allow use of your version of this file only under the terms of either
the GPL or the LGPL, and not to allow others to use your version of this file
under the terms of the MPL, indicate your decision by deleting the provisions
above and replace them with the notice and other provisions required by the GPL
or the LGPL. If you do not delete the provisions above, a recipient may use your
version of this file under the terms of any one of the MPL, the GPL or the LGPL.

***** END LICENSE BLOCK *****/

#easyGesturesPieMenu,
#menus .menuIcon {
  --scale-factor: 1;
  --icon-size: calc(32px * var(--scale-factor));
  --actions-node-offset: calc(-61px * var(--scale-factor));
  --border-width: calc(2px * var(--scale-factor));
  --menu-section-width: calc(32px * var(--scale-factor));
  --cardinal-action-farthest-border-offset:
      calc(-1 * var(--actions-node-offset) - var(--icon-size) / 2);
  --cardinal-action-closest-border-offset:
      calc(var(--border-width) + (var(--menu-section-width) - var(--icon-size)) / 2);
}

#easyGesturesPieMenu {
  all: initial;
  position: fixed;
  z-index: 2147483647; /* convention: max-z-index = 2^31 - 1 */
  
  --extra-menu-height: calc(82px * var(--scale-factor));
  --tooltips-x-offset: calc(-200px * var(--scale-factor));
  --tooltips-y-offset: calc(-2.5 * var(--icon-size) - 1px);
  --tooltip-height: calc(var(--icon-size) - var(--border-width));
  --font-size: calc(var(--tooltip-height) / 2);
  --extra-menu-y-offset: calc(-135px * var(--scale-factor));
  --extra-tooltips-y-offset: calc(var(--extra-menu-y-offset) +
                             var(--cardinal-action-farthest-border-offset) -
                             2 * var(--icon-size));
}

#easyGesturesPieMenu.smallIcons {
  --scale-factor: 0.625;
}

#easyGesturesPieMenu.large,
#menus .large .menuIcon {
  --actions-node-offset: calc(-70px * var(--scale-factor));
  --border-width: calc(2.3px * var(--scale-factor));
  --menu-section-width: calc(36.72px * var(--scale-factor));
  --icon-border: calc(5px * var(--scale-factor));
}

#easyGesturesPieMenu.large {
  --extra-menu-height: calc(94px * var(--scale-factor));
  --tooltips-x-offset: calc(-230px * var(--scale-factor));
  --tooltips-y-offset: calc(-3 * var(--icon-size) - 1px);
  --extra-menu-y-offset: calc(-155px * var(--scale-factor));
  --extra-tooltips-y-offset: calc(var(--extra-menu-y-offset) +
                             var(--cardinal-action-farthest-border-offset) -
                             2 * var(--icon-size) - 4px);
}

#easyGesturesPieMenu * {
  all: initial;
  visibility: inherit;
}

#easyGesturesPieMenu > div {
  position: absolute;
}

#easyGesturesPieMenu > div > * {
  position: absolute;
}


/* Special nodes */

#easyGesturesLinkSign {
  visibility: hidden;
  background-image: url("linkSign.svg");
}

#easyGesturesPieMenu #easyGesturesLinkSign {
  --link-sign-size: calc(var(--icon-size) * 0.625);
  left: calc(-1 * var(--link-sign-size) / 2);
  top: calc(-1 * var(--link-sign-size) / 2);
  background-size: var(--link-sign-size) var(--link-sign-size);
  width: var(--link-sign-size);
  height: var(--link-sign-size);
}

#easyGesturesMainMenusSign,
#easyGesturesExtraMenusSign {
  visibility: hidden;
  left: var(--icon-size);
  top: var(--tooltips-y-offset);
  width: 4em; /* border-width and width for 3 children + space between 2 children, rounded up */
  line-height: var(--icon-size);
  font-size: var(--font-size);
}

#easyGesturesExtraMenusSign {
  top: var(--extra-tooltips-y-offset);
}

#easyGesturesMainMenusSign span:only-child,
#easyGesturesExtraMenusSign span:only-child {
  display: none;
}

#easyGesturesMainMenusSign span,
#easyGesturesExtraMenusSign span {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border: solid 0.1em hsl(0, 0%, 50%);
  border-radius: 50%;
  background-color: hsl(0, 0%, 80%);
  font-size: inherit;
}

#easyGesturesMainMenusSign span + span,
#easyGesturesExtraMenusSign span + span {
  margin-left: 0.5em;
}

#easyGesturesMainMenusSign span.active,
#easyGesturesExtraMenusSign span.active {
  background-color: hsl(0, 0%, 60%);
}

#easyGesturesContextMenuSign {
  visibility: hidden;
  left: var(--icon-size);
  top: var(--tooltips-y-offset);
  border: solid 1px hsl(0, 0%, 50%);
  border-radius: 4px 4px;
  padding: 2px;
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 50%);
  line-height: var(--font-size);
  font-family: sans-serif;
  font-size: var(--font-size);
  white-space: nowrap;
}

#easyGesturesContextMenuSign.withAltSign {
  box-shadow: 1px 1px hsl(0, 0%, 80%), 2px 2px hsl(0, 0%, 50%);
}


/* Actions */

#easyGesturesPieMenu .easyGesturesActionsNode {
  visibility: hidden;
  z-index: -1;
  left: var(--actions-node-offset);
  top: var(--actions-node-offset);
  width: calc(-2 * var(--actions-node-offset));
  height: calc(-2 * var(--actions-node-offset));
  background-image: url("menu.svg");
  background-size: cover;
}

#easyGesturesPieMenu .easyGesturesActionsNode.easyGesturesExtraNode {
  z-index: -2;
  top: var(--extra-menu-y-offset);
  height: var(--extra-menu-height);
  background-image: url("extraMenu.svg");
}

#easyGesturesPieMenu .easyGesturesActionsNode div {
  z-index: 1;
  width: var(--icon-size);
  height: var(--icon-size);
  mask-size: calc(var(--icon-size) * 17);
}

#easyGesturesPieMenu div.sector0,
.menuIcon.sector0 {
  top: var(--cardinal-action-farthest-border-offset);
  right: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu div.sector1,
.menuIcon.sector1 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size));
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size));
}
#easyGesturesPieMenu div.sector2,
.menuIcon.sector2 {
  left: var(--cardinal-action-farthest-border-offset);
  top: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu div.sector3,
.menuIcon.sector3 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size));
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size));
}
#easyGesturesPieMenu div.sector4,
.menuIcon.sector4 {
  left: var(--cardinal-action-closest-border-offset);
  top: var(--cardinal-action-farthest-border-offset);
}
.menuIcon.sector5, .menuIcon.sector9 { display: none; }
#easyGesturesPieMenu div.sector5,
.menuIcon.sector6 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size));
  top: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size));
}
#easyGesturesPieMenu div.sector6,
.menuIcon.sector7 {
  left: var(--cardinal-action-farthest-border-offset);
  bottom: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu div.sector7,
.menuIcon.sector8 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size));
  top: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size));
}

#easyGesturesPieMenu.large div.sector0,
.menu.large .menuIcon.sector0 {
  top: calc(-1 * var(--actions-node-offset) - var(--icon-size));
  right: var(--border-width);
}
#easyGesturesPieMenu.large div.sector1,
#easyGesturesPieMenu.large div.sector3,
.menu.large .menuIcon.sector1,
.menu.large .menuIcon.sector3 {
  top: calc(-1 * var(--actions-node-offset) - 2 * var(--icon-size) + var(--icon-border));
}
#easyGesturesPieMenu.large div.sector4,
.menu.large .menuIcon.sector4 {
  left: var(--border-width);
  top: calc(-1 * var(--actions-node-offset) - var(--icon-size));
}
#easyGesturesPieMenu.large div.sector5,
.menu.large .menuIcon.sector5 {
  display: block;
  left: var(--border-width);
  top: calc(-1 * var(--actions-node-offset));
}
#easyGesturesPieMenu.large div.sector6,
.menu.large .menuIcon.sector6 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size));
  top: calc(-1 * var(--actions-node-offset) + var(--icon-size) - var(--icon-border));
  bottom: auto;
}
#easyGesturesPieMenu.large div.sector7,
.menu.large .menuIcon.sector7 {
  left: var(--cardinal-action-farthest-border-offset);
  top: auto;
  bottom: var(--cardinal-action-closest-border-offset);
}
#easyGesturesPieMenu.large div.sector8,
.menu.large .menuIcon.sector8 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size));
  top: calc(-1 * var(--actions-node-offset) + var(--icon-size) - var(--icon-border));
}
#easyGesturesPieMenu.large div.sector9,
.menu.large .menuIcon.sector9 {
  display: block;
  top: calc(-1 * var(--actions-node-offset));
  right: var(--border-width);
}

#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector0,
.menu.extra.large .menuIcon.sector0 {
  top: var(--cardinal-action-farthest-border-offset);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector1,
.menu.extra.large .menuIcon.sector1 {
  left: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) + 4px);
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) - 4px);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector2,
.menu.extra.large .menuIcon.sector2 {
  top: var(--border-width);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector3,
.menu.extra.large .menuIcon.sector3 {
  left: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) - 4px);
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) - 4px);
}
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector4,
.menu.extra.large .menuIcon.sector4 {
  top: var(--cardinal-action-farthest-border-offset);
}

/* Tooltips */

#easyGesturesPieMenu .easyGesturesTooltipsNode {
  visibility: hidden;
  z-index: -2; /* tooltips are displayed below menu level */
  left: var(--tooltips-x-offset);
  top: var(--tooltips-y-offset);
  width: calc(-2 * var(--tooltips-x-offset));
}

#easyGesturesPieMenu .easyGesturesTooltipsNode.easyGesturesExtraNode {
  z-index: -3; /* tooltips are displayed below menu level */
  top: var(--extra-tooltips-y-offset);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode div {
  z-index: 1;
  height: var(--tooltip-height);
  border-style: solid;
  border-width: var(--border-width);
  border-color: hsl(60, 40%, 83%) hsl(0, 0%, 60%);
  padding: 0px 6px;
  background-color: hsl(60, 100%, 93%);
  color: black;
  line-height: var(--tooltip-height);
  font-family: sans-serif;
  font-size: var(--font-size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip1 {
  border-top-color: hsl(0, 0%, 60%);
  border-top-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip2 {
  left: 0px;
  top: 0px;
  border-top-color: hsl(0, 0%, 60%);
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip2.extra {
  background-color: hsl(0, 100%, 90%);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip5,
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip6,
#easyGesturesPieMenu .easyGesturesExtraNode .tooltip4 {
  border-bottom-color: hsl(0, 0%, 60%);
  border-bottom-left-radius: 5px 5px;
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip5 {
  border-bottom-color: hsl(60, 40%, 83%);
  border-bottom-left-radius: 0px 0px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip6,
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip7,
#easyGesturesPieMenu .easyGesturesExtraNode .tooltip0 {
  border-bottom-color: hsl(0, 0%, 60%);
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip2 {
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  width: calc(-1 * var(--tooltips-x-offset) + 0.5 * var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
         /* 6px = padding-left */
  padding-right: var(--tooltip-padding);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip6 { /* see tooltip2 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  top: calc(4 * var(--icon-size));
  right: 0px;
  width: calc(-1 * var(--tooltips-x-offset) + 0.5 * var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
  padding-left: var(--tooltip-padding);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip3 {
  left: 0px;
  top: var(--icon-size);
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
  padding-right: var(--icon-size);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip1 { /* see tooltip3 */
  top: var(--icon-size);
  right: 0px;
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
  padding-left: var(--icon-size);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip5 { /* see tooltip3 */
  left: 0px;
  top: calc(3 * var(--icon-size));
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
  padding-right: var(--icon-size);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip7 { /* see tooltip5 */
  top: calc(3 * var(--icon-size));
  right: 0px;
  width: calc(-1 * var(--tooltips-x-offset) - 2 * var(--icon-size) - 6px);
  padding-left: var(--icon-size);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip4 {
  left: 0px;
  top: calc(2 * var(--icon-size));
  width: calc(-1 * var(--tooltips-x-offset) - 2.5 * var(--icon-size));
  padding-right: var(--icon-size);
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .tooltip0 { /* see tooltip4 */
  top: calc(2 * var(--icon-size));
  right: 0px;
  width: calc(-1 * var(--tooltips-x-offset) - 2.5 * var(--icon-size));
  padding-left: var(--icon-size);
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip2 {
  --tooltip-padding: calc(var(--icon-size) + 6px);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip7 { /* see tooltip2 */
  --tooltip-padding: calc(var(--icon-size) + 6px);
  top: calc(5 * var(--icon-size));
  right: 0px;
  width: calc(-1 * var(--tooltips-x-offset) + 0.5 * var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
         /* 6px = padding-right */
  padding-left: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip3 {
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
         /* 6px = padding-left */
  padding-right: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip1 { /* see tooltip3 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
  padding-left: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip6 { /* see tooltip3 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  left: 0px;
  top: calc(4 * var(--icon-size));
  right: auto; /* resetting default value */
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
  padding-left: 6px; /* resetting default value */
  padding-right: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip8 { /* see tooltip6 */
  --tooltip-padding: calc(1.5 * var(--icon-size) + 6px);
  top: calc(4 * var(--icon-size));
  right: 0px;
  width: calc(-1 * var(--tooltips-x-offset) - 0.5 * var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
  padding-left: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip4 {
  --tooltip-padding: calc(1.5 * var(--icon-size));
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
         /* 6px = padding-left */
  padding-right: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip0 { /* see tooltip4 */
  --tooltip-padding: calc(1.5 * var(--icon-size));
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
  padding-left: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip5 { /* see tooltip4 */
  --tooltip-padding: calc(1.5 * var(--icon-size));
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
  padding-right: var(--tooltip-padding);
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .tooltip9 { /* see tooltip5 */
  --tooltip-padding: calc(1.5 * var(--icon-size));
  top: calc(3 * var(--icon-size));
  right: 0px;
  width: calc(-1 * var(--tooltips-x-offset) - var(--icon-size) -
              2 * var(--border-width) - var(--tooltip-padding) - 6px);
  padding-left: var(--tooltip-padding);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .selected {
  font-weight: bold;
}


/* Icons */

#easyGesturesPieMenu .easyGesturesActionsNode div {
  background-color: hsl(0, 0%, 50%);
  mask-image: url("actions.svg");
  mask-position: calc(var(--icon-position-x) * -1 * var(--icon-size))
                 calc(var(--icon-position-y) * -1 * var(--icon-size));
}
#easyGesturesPieMenu .easyGesturesActionsNode .disabled {
  background-color: hsl(0, 0%, 70%);
}
#easyGesturesPieMenu .easyGesturesActionsNode .selected:not(.disabled) {
  background-color: hsl(0, 0%, 30%);
}

#easyGesturesPieMenu .empty,
[data-action="empty"], .actionIcon.empty {
  --icon-position-x: 2;
  --icon-position-y: 0;
}
#easyGesturesPieMenu .showExtraMenu,
[data-action="showExtraMenu"], .actionIcon.showExtraMenu {
  --icon-position-x: 0;
  --icon-position-y: 0;
}
#easyGesturesPieMenu .showExtraMenu.selected,
#easyGesturesPieMenu .showExtraMenu.showingExtraMenu {
  --icon-position-x: 1;
  --icon-position-y: 0;
}
#easyGesturesPieMenu .back,
[data-action="back"], .actionIcon.back {
  --icon-position-x: 0;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .backSite,
[data-action="backSite"], .actionIcon.backSite {
  --icon-position-x: 1;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .firstPage,
[data-action="firstPage"], .actionIcon.firstPage {
  --icon-position-x: 2;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .forward,
[data-action="forward"], .actionIcon.forward {
  --icon-position-x: 3;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .forwardSite,
[data-action="forwardSite"], .actionIcon.forwardSite {
  --icon-position-x: 4;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .lastPage,
[data-action="lastPage"], .actionIcon.lastPage {
  --icon-position-x: 5;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .reload,
[data-action="reload"], .actionIcon.reload {
  --icon-position-x: 6;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .homepage,
[data-action="homepage"], .actionIcon.homepage {
  --icon-position-x: 7;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .pageTop,
[data-action="pageTop"], .actionIcon.pageTop {
  --icon-position-x: 8;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .pageBottom,
[data-action="pageBottom"], .actionIcon.pageBottom {
  --icon-position-x: 9;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .savePageAs,
[data-action="savePageAs"], .actionIcon.savePageAs {
  --icon-position-x: 10;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .printPage,
[data-action="printPage"], .actionIcon.printPage {
  --icon-position-x: 11;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .showPrintPreview,
[data-action="showPrintPreview"], .actionIcon.showPrintPreview {
  --icon-position-x: 12;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .searchWeb,
[data-action="searchWeb"], .actionIcon.searchWeb {
  --icon-position-x: 13;
  --icon-position-y: 1;
}
#easyGesturesPieMenu .loadPageInNewTab,
[data-action="loadPageInNewTab"], .actionIcon.loadPageInNewTab {
  --icon-position-x: 0;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .loadPageInNewPrivateWindow,
[data-action="loadPageInNewPrivateWindow"], .actionIcon.loadPageInNewPrivateWindow {
  --icon-position-x: 1;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .moveTabToNewWindow,
[data-action="moveTabToNewWindow"], .actionIcon.moveTabToNewWindow {
  --icon-position-x: 2;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .copyPageURL,
[data-action="copyPageURL"], .actionIcon.copyPageURL {
  --icon-position-x: 3;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .copyURLToIdentifier,
[data-action="copyURLToIdentifier"], .actionIcon.copyURLToIdentifier {
  --icon-position-x: 4;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .zoomIn,
[data-action="zoomIn"], .actionIcon.zoomIn {
  --icon-position-x: 5;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .zoomOut,
[data-action="zoomOut"], .actionIcon.zoomOut {
  --icon-position-x: 6;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .zoomReset,
[data-action="zoomReset"], .actionIcon.zoomReset {
  --icon-position-x: 7;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .findAndHighlightSelection,
[data-action="findAndHighlightSelection"], .actionIcon.findAndHighlightSelection {
  --icon-position-x: 8;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .removeHighlight,
[data-action="removeHighlight"], .actionIcon.removeHighlight {
  --icon-position-x: 9;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .enterReaderMode,
[data-action="enterReaderMode"], .actionIcon.enterReaderMode {
  --icon-position-x: 10;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .takeTabScreenshot,
[data-action="takeTabScreenshot"], .actionIcon.takeTabScreenshot {
  --icon-position-x: 11;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .toggleFullscreen,
[data-action="toggleFullscreen"], .actionIcon.toggleFullscreen {
  --icon-position-x: 12;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .up,
[data-action="up"], .actionIcon.up {
  --icon-position-x: 13;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .root,
[data-action="root"], .actionIcon.root {
  --icon-position-x: 14;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .showOnlyThisFrame,
[data-action="showOnlyThisFrame"], .actionIcon.showOnlyThisFrame {
  --icon-position-x: 15;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .viewPageSource,
[data-action="viewPageSource"], .actionIcon.viewPageSource {
  --icon-position-x: 16;
  --icon-position-y: 2;
}
#easyGesturesPieMenu .newTab,
[data-action="newTab"], .actionIcon.newTab {
  --icon-position-x: 0;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .newBlankTab,
[data-action="newBlankTab"], .actionIcon.newBlankTab {
  --icon-position-x: 1;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .duplicateTab,
[data-action="duplicateTab"], .actionIcon.duplicateTab {
  --icon-position-x: 2;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .closeTab,
[data-action="closeTab"], .actionIcon.closeTab {
  --icon-position-x: 3;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .closeOtherTabs,
[data-action="closeOtherTabs"], .actionIcon.closeOtherTabs {
  --icon-position-x: 4;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .undoCloseTab,
[data-action="undoCloseTab"], .actionIcon.undoCloseTab {
  --icon-position-x: 5;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .previousTab,
[data-action="previousTab"], .actionIcon.previousTab {
  --icon-position-x: 6;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .nextTab,
[data-action="nextTab"], .actionIcon.nextTab {
  --icon-position-x: 7;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .pinUnpinTab,
[data-action="pinUnpinTab"], .actionIcon.pinUnpinTab {
  --icon-position-x: 8;
  --icon-position-y: 3;
}
#easyGesturesPieMenu .newWindow,
[data-action="newWindow"], .actionIcon.newWindow {
  --icon-position-x: 0;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .newBlankWindow,
[data-action="newBlankWindow"], .actionIcon.newBlankWindow {
  --icon-position-x: 1;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .newPrivateWindow,
[data-action="newPrivateWindow"], .actionIcon.newPrivateWindow {
  --icon-position-x: 2;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .duplicateWindow,
[data-action="duplicateWindow"], .actionIcon.duplicateWindow {
  --icon-position-x: 3;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .minimizeWindow,
[data-action="minimizeWindow"], .actionIcon.minimizeWindow {
  --icon-position-x: 4;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .closeWindow,
[data-action="closeWindow"], .actionIcon.closeWindow {
  --icon-position-x: 5;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .closeOtherWindows,
[data-action="closeOtherWindows"], .actionIcon.closeOtherWindows {
  --icon-position-x: 6;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .undoCloseWindow,
[data-action="undoCloseWindow"], .actionIcon.undoCloseWindow {
  --icon-position-x: 7;
  --icon-position-y: 4;
}
#easyGesturesPieMenu .openLink,
[data-action="openLink"], .actionIcon.openLink {
  --icon-position-x: 0;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .openLinkInNewWindow,
[data-action="openLinkInNewWindow"], .actionIcon.openLinkInNewWindow {
  --icon-position-x: 1;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .openLinkInNewPrivateWindow,
[data-action="openLinkInNewPrivateWindow"], .actionIcon.openLinkInNewPrivateWindow {
  --icon-position-x: 2;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .copyLink,
[data-action="copyLink"], .actionIcon.copyLink {
  --icon-position-x: 3;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .saveLinkAs,
[data-action="saveLinkAs"], .actionIcon.saveLinkAs {
  --icon-position-x: 4;
  --icon-position-y: 5;
}
#easyGesturesPieMenu .dailyReadings,
[data-action="dailyReadings"], .actionIcon.dailyReadings {
  --icon-position-x: 0;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkThisPage,
[data-action="bookmarkThisPage"], .actionIcon.bookmarkThisPage {
  --icon-position-x: 1;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkThisIdentifier,
[data-action="bookmarkThisIdentifier"], .actionIcon.bookmarkThisIdentifier {
  --icon-position-x: 2;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkThisLink,
[data-action="bookmarkThisLink"], .actionIcon.bookmarkThisLink {
  --icon-position-x: 3;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .bookmarkAllTabs,
[data-action="bookmarkAllTabs"], .actionIcon.bookmarkAllTabs {
  --icon-position-x: 4;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .removeBookmarkToThisPage,
[data-action="removeBookmarkToThisPage"], .actionIcon.removeBookmarkToThisPage {
  --icon-position-x: 5;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .removeBookmarkToThisIdentifier,
[data-action="removeBookmarkToThisIdentifier"], .actionIcon.removeBookmarkToThisIdentifier {
  --icon-position-x: 6;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .removeBookmarkToThisLink,
[data-action="removeBookmarkToThisLink"], .actionIcon.removeBookmarkToThisLink {
  --icon-position-x: 7;
  --icon-position-y: 6;
}
#easyGesturesPieMenu .loadURL1,
[data-action="loadURL1"], .actionIcon.loadURL1 {
  --icon-position-x: 0;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL2,
[data-action="loadURL2"], .actionIcon.loadURL2 {
  --icon-position-x: 1;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL3,
[data-action="loadURL3"], .actionIcon.loadURL3 {
  --icon-position-x: 2;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL4,
[data-action="loadURL4"], .actionIcon.loadURL4 {
  --icon-position-x: 3;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL5,
[data-action="loadURL5"], .actionIcon.loadURL5 {
  --icon-position-x: 4;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL6,
[data-action="loadURL6"], .actionIcon.loadURL6 {
  --icon-position-x: 5;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL7,
[data-action="loadURL7"], .actionIcon.loadURL7 {
  --icon-position-x: 6;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL8,
[data-action="loadURL8"], .actionIcon.loadURL8 {
  --icon-position-x: 7;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL9,
[data-action="loadURL9"], .actionIcon.loadURL9 {
  --icon-position-x: 8;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .loadURL10,
[data-action="loadURL10"], .actionIcon.loadURL10 {
  --icon-position-x: 9;
  --icon-position-y: 7;
}
#easyGesturesPieMenu .runScript1,
[data-action="runScript1"], .actionIcon.runScript1 {
  --icon-position-x: 0;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript2,
[data-action="runScript2"], .actionIcon.runScript2 {
  --icon-position-x: 1;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript3,
[data-action="runScript3"], .actionIcon.runScript3 {
  --icon-position-x: 2;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript4,
[data-action="runScript4"], .actionIcon.runScript4 {
  --icon-position-x: 3;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript5,
[data-action="runScript5"], .actionIcon.runScript5 {
  --icon-position-x: 4;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript6,
[data-action="runScript6"], .actionIcon.runScript6 {
  --icon-position-x: 5;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript7,
[data-action="runScript7"], .actionIcon.runScript7 {
  --icon-position-x: 6;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript8,
[data-action="runScript8"], .actionIcon.runScript8 {
  --icon-position-x: 7;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript9,
[data-action="runScript9"], .actionIcon.runScript9 {
  --icon-position-x: 8;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .runScript10,
[data-action="runScript10"], .actionIcon.runScript10 {
  --icon-position-x: 9;
  --icon-position-y: 8;
}
#easyGesturesPieMenu .easyGesturesActionsNode .customIcon {
  --mask-size-value: calc(var(--icon-size) * 0.625);
  mask-repeat: no-repeat;
  mask-size: var(--mask-size-value) var(--mask-size-value) !important;
  mask-position: calc(var(--mask-size-value) * 0.3) calc(var(--mask-size-value) * 0.3);
}
#easyGesturesPieMenu .easyGesturesNPreferences,
[data-action="easyGesturesNPreferences"], .actionIcon.easyGesturesNPreferences {
  --icon-position-x: 0;
  --icon-position-y: 9;
}
#easyGesturesPieMenu .copyImageLocation,
[data-action="copyImageLocation"], .actionIcon.copyImageLocation {
  --icon-position-x: 0;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .copyImage,
[data-action="copyImage"], .actionIcon.copyImage {
  --icon-position-x: 1;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .saveImageAs,
[data-action="saveImageAs"], .actionIcon.saveImageAs {
  --icon-position-x: 2;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .hideImages,
[data-action="hideImages"], .actionIcon.hideImages {
  --icon-position-x: 3;
  --icon-position-y: 10;
}
#easyGesturesPieMenu .cut,
[data-action="cut"], .actionIcon.cut {
  --icon-position-x: 0;
  --icon-position-y: 11;
}
#easyGesturesPieMenu .copy,
[data-action="copy"], .actionIcon.copy {
  --icon-position-x: 1;
  --icon-position-y: 11;
}
#easyGesturesPieMenu .paste,
[data-action="paste"], .actionIcon.paste {
  --icon-position-x: 2;
  --icon-position-y: 11;
}
#easyGesturesPieMenu .selectAll,
[data-action="selectAll"], .actionIcon.selectAll {
  --icon-position-x: 3;
  --icon-position-y: 11;
}
