/***** BEGIN LICENSE BLOCK *****
Version: MPL 1.1/GPL 2.0/LGPL 2.1

The contents of this file are subject to the Mozilla Public License Version
1.1 (the "License"); you may not use this file except in compliance with
the License. You may obtain a copy of the License at http://www.mozilla.org/MPL/

Software distributed under the License is distributed on an "AS IS" basis,
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the
specific language governing rights and limitations under the License.

The Original Code is easyGestures.

The Initial Developer of the Original Code is Ons Besbes.

Contributor(s):
  ngdeleito

Alternatively, the contents of this file may be used under the terms of either
the GNU General Public License Version 2 or later (the "GPL"), or the GNU Lesser
General Public License Version 2.1 or later (the "LGPL"), in which case the
provisions of the GPL or the LGPL are applicable instead of those above. If you
wish to allow use of your version of this file only under the terms of either
the GPL or the LGPL, and not to allow others to use your version of this file
under the terms of the MPL, indicate your decision by deleting the provisions
above and replace them with the notice and other provisions required by the GPL
or the LGPL. If you do not delete the provisions above, a recipient may use your
version of this file under the terms of any one of the MPL, the GPL or the LGPL.

***** END LICENSE BLOCK *****/

#easyGesturesPieMenu {
  all: initial;
  position: fixed;
  z-index: 2147483647; /* convention: max-z-index = 2^31 - 1 */
}

#easyGesturesPieMenu * {
  all: initial;
  visibility: inherit;
}

#easyGesturesPieMenu > div {
  position: absolute;
}

#easyGesturesPieMenu > div > * {
  position: absolute;
}


/* Special nodes */

#easyGesturesLinkSign {
  visibility: hidden;
  background-image: url("linkSign.svg");
}

#easyGesturesPieMenu #easyGesturesLinkSign {
  left: -10px;
  top: -10px;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

#easyGesturesPieMenu.smallIcons #easyGesturesLinkSign {
  left: -7px;
  top: -7px;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
}

#easyGesturesMainMenusSign {
  visibility: hidden;
  width: 3.85em; /* border-width and width for 3 children + space between 2 children */
}

#easyGesturesPieMenu #easyGesturesMainMenusSign {
  left: 32px; /* icon size */
  top: -81px; /* labels y-offset */
  line-height: 32px;
  font-size: 14px;
}

#easyGesturesPieMenu.smallIcons #easyGesturesMainMenusSign {
  left: 20px; /* icon size */
  top: -51px; /* labels y-offset */
  line-height: 20px;
  font-size: 10px;
}

#easyGesturesPieMenu.large #easyGesturesMainMenusSign {
  left: 32px; /* icon size */
  top: -97px; /* labels y-offset */
  line-height: 32px;
  font-size: 14px;
}

#easyGesturesPieMenu.large.smallIcons #easyGesturesMainMenusSign {
  left: 20px; /* icon size */
  top: -61px; /* labels y-offset */
  line-height: 20px;
  font-size: 10px;
}

#easyGesturesExtraMenusSign {
  visibility: hidden;
  width: 3.85em;
}

#easyGesturesPieMenu #easyGesturesExtraMenusSign {
  left: 32px; /* icon size */
  top: -154px; /* extra labels y-offset */
  line-height: 32px;
  font-size: 14px;
}

#easyGesturesPieMenu.smallIcons #easyGesturesExtraMenusSign {
  left: 20px; /* icon size */
  top: -95px; /* extra labels y-offset */
  line-height: 20px;
  font-size: 10px;
}

#easyGesturesPieMenu.large #easyGesturesExtraMenusSign {
  left: 32px; /* icon size */
  top: -165px; /* extra labels y-offset */
  line-height: 32px;
  font-size: 14px;
}

#easyGesturesPieMenu.large.smallIcons #easyGesturesExtraMenusSign {
  left: 20px; /* icon size */
  top: -107px; /* extra labels y-offset */
  line-height: 20px;
  font-size: 10px;
}

#easyGesturesMainMenusSign span:only-child,
#easyGesturesExtraMenusSign span:only-child {
  display: none;
}

#easyGesturesMainMenusSign span,
#easyGesturesExtraMenusSign span {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  background-color: hsl(0, 0%, 80%);
  border: solid 0.1em hsl(0, 0%, 50%);
  border-radius: 50%;
  font-size: inherit;
}

#easyGesturesMainMenusSign span + span,
#easyGesturesExtraMenusSign span + span {
  margin-left: 0.5em;
}

#easyGesturesMainMenusSign span.active,
#easyGesturesExtraMenusSign span.active {
  background-color: hsl(0, 0%, 60%);
}

#easyGesturesContextMenuSign {
  visibility: hidden;
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 50%);
  border: solid 1px hsl(0, 0%, 50%);
  border-radius: 4px 4px;
  padding: 2px;
  font-family: sans-serif;
  white-space: nowrap;
}

#easyGesturesPieMenu #easyGesturesContextMenuSign {
  left: 32px; /* icon size */
  top: -81px; /* labels y-offset */
  line-height: 14px;
  font-size: 14px;
}

#easyGesturesPieMenu.smallIcons #easyGesturesContextMenuSign {
  left: 20px; /* icon size */
  top: -51px; /* labels y-offset */
  line-height: 9px;
  font-size: 9px;
}

#easyGesturesPieMenu.large #easyGesturesContextMenuSign {
  left: 32px; /* icon size */
  top: -97px; /* labels y-offset */
  line-height: 14px;
  font-size: 14px;
}

#easyGesturesPieMenu.large.smallIcons #easyGesturesContextMenuSign {
  left: 20px; /* icon size */
  top: -61px; /* labels y-offset */
  line-height: 9px;
  font-size: 9px;
}

#easyGesturesContextMenuSign.withAltSign {
  box-shadow: 1px 1px hsl(0, 0%, 80%), 2px 2px hsl(0, 0%, 50%);
}


/* Actions */

#easyGesturesPieMenu .easyGesturesActionsNode {
  visibility: hidden;
  z-index: -1;
  background-image: url("menu.svg");
  background-size: cover;
  
  left: -61px; /* menu radius */
  top: -61px;
  width: 122px;
  height: 122px;
}

#easyGesturesPieMenu.smallIcons .easyGesturesActionsNode {
  left: -38px; /* menu radius */
  top: -38px;
  width: 76px;
  height: 76px;
}

#easyGesturesPieMenu.large .easyGesturesActionsNode {
  left: -70px; /* menu radius */
  top: -70px;
  width: 140px;
  height: 140px;
}

#easyGesturesPieMenu.large.smallIcons .easyGesturesActionsNode {
  left: -44px; /* menu radius */
  top: -44px;
  width: 88px;
  height: 88px;
}

#easyGesturesPieMenu .easyGesturesActionsNode.easyGesturesExtraNode {
  z-index: -2;
  background-image: url("extraMenu.svg");
  
  top: -135px; /* extra menu y-offset */
  width: 122px;
  height: 82px;
}

#easyGesturesPieMenu.smallIcons .easyGesturesActionsNode.easyGesturesExtraNode {
  top: -83px; /* extra menu y-offset */
  width: 76px;
  height: 51px;
}

#easyGesturesPieMenu.large .easyGesturesActionsNode.easyGesturesExtraNode {
  top: -151px; /* extra menu y-offset */
  width: 140px;
  height: 94px;
}

#easyGesturesPieMenu.large.smallIcons .easyGesturesActionsNode.easyGesturesExtraNode {
  top: -97px; /* extra menu y-offset */
  width: 88px;
  height: 59px;
}

#easyGesturesPieMenu .easyGesturesActionsNode div {
  width: 32px; /* icon size */
  height: 32px;
  z-index: 1;
}

#easyGesturesPieMenu.smallIcons .easyGesturesActionsNode div {
  mask-size: 340px;
  width: 20px; /* icon size */
  height: 20px;
  z-index: 1;
}

#easyGesturesPieMenu div.sector0 { right: 2px; top: 45px; }
#easyGesturesPieMenu div.sector1 { left: 76px; top: 14px; }
#easyGesturesPieMenu div.sector2 { left: 45px; top: 2px; }
#easyGesturesPieMenu div.sector3 { left: 14px; top: 14px; }
#easyGesturesPieMenu div.sector4 { left: 2px; top: 45px; }
#easyGesturesPieMenu div.sector5 { left: 14px; top: 76px; }
#easyGesturesPieMenu div.sector6 { left: 45px; bottom: 2px; }
#easyGesturesPieMenu div.sector7 { left: 76px; top: 76px; }

#easyGesturesPieMenu.smallIcons div.sector0 { right: 1.25px; top: 28px; }
#easyGesturesPieMenu.smallIcons div.sector1 { left: 47px; top: 9px; }
#easyGesturesPieMenu.smallIcons div.sector2 { left: 28px; top: 1.25px; }
#easyGesturesPieMenu.smallIcons div.sector3 { left: 9px; top: 9px; }
#easyGesturesPieMenu.smallIcons div.sector4 { left: 1.25px; top: 28px; }
#easyGesturesPieMenu.smallIcons div.sector5 { left: 9px; top: 47px; }
#easyGesturesPieMenu.smallIcons div.sector6 { left: 28px; bottom: 1.25px; }
#easyGesturesPieMenu.smallIcons div.sector7 { left: 47px; top: 47px; }

#easyGesturesPieMenu.large div.sector0 { right: 2.3px; top: 38.5px; }
#easyGesturesPieMenu.large div.sector1 { left: 85px; top: 11px; }
#easyGesturesPieMenu.large div.sector2 { left: 54px; top: 4.66px; }
#easyGesturesPieMenu.large div.sector3 { left: 23px; top: 11px; }
#easyGesturesPieMenu.large div.sector4 { left: 2.3px; top: 38.5px; }
#easyGesturesPieMenu.large div.sector5 { display: block; left: 2.3px; top: 69.5px; }
#easyGesturesPieMenu.large div.sector6 { left: 23px; top: 97px; bottom: auto; }
#easyGesturesPieMenu.large div.sector7 { left: 54px; top: auto; bottom: 4.66px; }
#easyGesturesPieMenu.large div.sector8 { left: 85px; top: 97px; }
#easyGesturesPieMenu.large div.sector9 { display: block; right: 2.3px; top: 69.5px; }

#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector0 { right: 2.3px; top: 54px; }
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector1 { left: 90px; top: 18px; }
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector2 { left: 54px; top: 2.3px; }
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector3 { left: 18px; top: 18px; }
#easyGesturesPieMenu.large .easyGesturesExtraNode div.sector4 { left: 2.3px; top: 54px; }

#easyGesturesPieMenu.large.smallIcons div.sector0 { right: 1.44px; top: 24px; }
#easyGesturesPieMenu.large.smallIcons div.sector1 { left: 54px; top: 7px; }
#easyGesturesPieMenu.large.smallIcons div.sector2 { left: 34px; top: 2.98px; }
#easyGesturesPieMenu.large.smallIcons div.sector3 { left: 14px; top: 7px; }
#easyGesturesPieMenu.large.smallIcons div.sector4 { left: 1.44px; top: 24px; }
#easyGesturesPieMenu.large.smallIcons div.sector5 { display: block; left: 1.44px; top: 44px; }
#easyGesturesPieMenu.large.smallIcons div.sector6 { left: 14px; top: 61px; }
#easyGesturesPieMenu.large.smallIcons div.sector7 { left: 34px; bottom: 2.98px; }
#easyGesturesPieMenu.large.smallIcons div.sector8 { left: 54px; top: 61px; }
#easyGesturesPieMenu.large.smallIcons div.sector9 { display: block; right: 1.44px; top: 44px; }

#easyGesturesPieMenu.large.smallIcons .easyGesturesExtraNode div.sector0 { right: 1.44px; top: 34px; }
#easyGesturesPieMenu.large.smallIcons .easyGesturesExtraNode div.sector1 { left: 58px; top: 10px; }
#easyGesturesPieMenu.large.smallIcons .easyGesturesExtraNode div.sector2 { left: 34px; top: 1.44px; }
#easyGesturesPieMenu.large.smallIcons .easyGesturesExtraNode div.sector3 { left: 10px; top: 10px; }
#easyGesturesPieMenu.large.smallIcons .easyGesturesExtraNode div.sector4 { left: 1.44px; top: 34px; }

/* Labels */

#easyGesturesPieMenu .easyGesturesTooltipsNode {
  visibility: hidden;
  z-index: -2; /* labels are displayed below menu level */
  
  left: -200px; /* labels x-offset */
  top: -81px; /* 2,5 * (label height + 2px) + 1px */
  width: 400px; /* 2 * labels x-offset */
}

#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode {
  left: -150px; /* labels x-offset */ /* 75% of non small */
  top: -51px;
  width: 300px;
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode {
  left: -220px; /* labels x-offset */
  top: -97px; /* 3 * (label height + 2px) + 1px */
  width: 440px;
}

#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode {
  left: -165px; /* labels x-offset */ /* 75% of non small */
  top: -61px;
  width: 330px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode.easyGesturesExtraNode {
  z-index: -3; /* labels are displayed below menu level */
  
  top: -154px; /* extra menu y-offset + top of action with sector4
                  - 2 * (label height + 2px) */
}

#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode.easyGesturesExtraNode {
  top: -95px;
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode.easyGesturesExtraNode {
  top: -165px; /* extra menu y-offset + top of action with sector4
                  - 2 * (label height + 2px) - 4px */
}

#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode.easyGesturesExtraNode {
  top: -107px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode div {
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(60, 40%, 83%) hsl(0, 0%, 60%);
  padding: 0px 6px;
  background-color: hsl(60, 100%, 93%);
  color: black;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  height: 30px; /* label height */
  line-height: 30px;
  font-size: 14px;
}

#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode div {
  height: 18px; /* label height */
  line-height: 18px;
  font-size: 10px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .label1 {
  border-top-color: hsl(0, 0%, 60%);
  border-top-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .label2 {
  top: 0px;
  left: 0px;
  border-top-color: hsl(0, 0%, 60%);
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .label2.extra {
  background-color: hsl(0, 100%, 90%);
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .label5,
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label6,
#easyGesturesPieMenu .easyGesturesExtraNode .label4 {
  border-bottom-color: hsl(0, 0%, 60%);
  border-bottom-left-radius: 5px 5px;
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label5 {
  border-bottom-color: hsl(60, 40%, 83%);
  border-bottom-left-radius: 0px 0px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .label6,
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label7,
#easyGesturesPieMenu .easyGesturesExtraNode .label0 {
  border-bottom-color: hsl(0, 0%, 60%);
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .label2 {
  padding-right: 54px; /* 1,5 * icon size + 6px */
  width: 152px; /* labels x-offset + 0,5 * icon size - border-left - padding-left - padding-right - border-right */
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .label6 { /* see label2 */
  top: 128px;  /* 4 * (label height + 2px) */
  right: 0px;
  padding-left: 54px;
  width: 152px;
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .label3 {
  left: 0px;
  top: 32px; /* label height + 2px */
  padding-right: 32px; /* icon size */
  width: 130px; /* labels x-offset - 2 * icon size - 6px */
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .label1 { /* see label3 */
  top: 32px;
  right: 0px;
  padding-left: 32px;
  width: 130px;
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .label5 { /* see label3 */
  left: 0px;
  top: 96px; /* 3 * (label height + 2px) */
  padding-right: 32px;
  width: 130px;
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .label7 { /* see label5 */
  top: 96px;
  right: 0px;
  padding-left: 32px;
  width: 130px;
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .label4 {
  left: 0px;
  top: 64px; /* 2 * (label height + 2px) */
  padding-right: 32px; /* icon size */
  width: 120px; /* labels x-offset - 2,5 * icon size */
}
#easyGesturesPieMenu .easyGesturesTooltipsNode .label0 { /* see label4 */
  top: 64px;
  right: 0px;
  padding-left: 32px;
  width: 120px;
}

#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label2 {
  padding-right: 36px;
  width: 114px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label6 {
  top: 80px;
  right: 0px;
  padding-left: 36px;
  width: 114px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label3 {
  left: 0px;
  top: 20px;
  padding-right: 20px;
  width: 104px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label1 {
  top: 20px;
  right: 0px;
  padding-left: 20px;
  width: 104px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label5 {
  left: 0px;
  top: 60px;
  padding-right: 20px;
  width: 104px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label7 {
  top: 60px;
  right: 0px;
  padding-left: 20px;
  width: 104px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label4 {
  left: 0px;
  top: 40px;
  padding-right: 20px;
  width: 100px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesTooltipsNode .label0 {
  top: 40px;
  right: 0px;
  padding-left: 20px;
  width: 100px;
}

#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label2 {
  padding-right: 38px; /* icon size + 6px */
  width: 188px;
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label7 {
  top: 160px; /* 5 * (label height + 2px) */
  right: 0px;
  padding-left: 38px;
  width: 188px;
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label3 {
  left: 0px;
  top: 32px;
  padding-right: 54px; /* 1,5 * icon size + 6px */
  width: 140px; /* labels x-offset - 0,5 * icon size - border-left - padding-left - padding-right - border-right */
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label1 {
  top: 32px;
  right: 0px;
  padding-left: 54px;
  width: 140px;
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label6 {
  left: 0px;
  top: 128px;
  right: auto;
  padding-left: 6px;
  padding-right: 54px;
  width: 140px;
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label8 {
  top: 128px;
  right: 0px;
  padding-left: 54px;
  width: 140px;
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label4 {
  left: 0px;
  top: 64px;
  padding-right: 48px; /* 1,5 * icon size */
  width: 130px; /* labels x-offset - icon size - border-left - padding-left - padding-right - border-right */
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label0 {
  top: 64px;
  right: 0px;
  padding-left: 48px;
  width: 130px;
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label5 { /* see label4 */
  left: 0px;
  top: 96px;
  padding-right: 48px;
  width: 130px;
}
#easyGesturesPieMenu.large .easyGesturesTooltipsNode .label9 { /* see label5 */
  top: 96px;
  right: 0px;
  padding-left: 48px;
  width: 130px;
}

#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label2 {
  padding-right: 26px;
  width: 139px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label7 {
  top: 100px;
  right: 0px;
  padding-left: 26px;
  width: 139px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label3 {
  left: 0px;
  top: 20px;
  padding-right: 36px;
  width: 109px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label1 {
  top: 20px;
  right: 0px;
  padding-left: 36px;
  width: 109px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label6 {
  left: 0px;
  top: 80px;
  padding-right: 36px;
  width: 109px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label8 {
  top: 80px;
  right: 0px;
  padding-left: 36px;
  width: 109px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label4 {
  left: 0px;
  top: 40px;
  padding-right: 30px;
  width: 105px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label0 {
  top: 40px;
  right: 0px;
  padding-left: 30px;
  width: 105px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label5 {
  left: 0px;
  top: 60px;
  padding-right: 30px;
  width: 105px;
}
#easyGesturesPieMenu.large.smallIcons .easyGesturesTooltipsNode .label9 {
  top: 60px;
  right: 0px;
  padding-left: 30px;
  width: 105px;
}

#easyGesturesPieMenu .easyGesturesTooltipsNode .selected {
  font-weight: bold;
}


/* Icons */

#easyGesturesPieMenu .easyGesturesActionsNode div {
  background-color: hsl(0, 0%, 50%);
  mask-image: url("actions.svg");
}
#easyGesturesPieMenu .easyGesturesActionsNode .disabled {
  background-color: hsl(0, 0%, 70%);
}
#easyGesturesPieMenu .easyGesturesActionsNode .selected:not(.disabled) {
  background-color: hsl(0, 0%, 30%);
}

#easyGesturesPieMenu .empty,
[data-action="empty"], .eG_empty {
  mask-position: -64px 0px;
}
#easyGesturesPieMenu .showExtraMenu,
[data-action="showExtraMenu"], .eG_showExtraMenu {
  mask-position: 0px 0px;
}
#easyGesturesPieMenu .showExtraMenu.selected,
#easyGesturesPieMenu .showExtraMenu.showingExtraMenu {
  mask-position: -32px 0px;
}
#easyGesturesPieMenu .back,
[data-action="back"], .eG_back {
  mask-position: 0px -32px;
}
#easyGesturesPieMenu .backSite,
[data-action="backSite"], .eG_backSite {
  mask-position: -32px -32px;
}
#easyGesturesPieMenu .firstPage,
[data-action="firstPage"], .eG_firstPage {
  mask-position: -64px -32px;
}
#easyGesturesPieMenu .forward,
[data-action="forward"], .eG_forward {
  mask-position: -96px -32px;
}
#easyGesturesPieMenu .forwardSite,
[data-action="forwardSite"], .eG_forwardSite {
  mask-position: -128px -32px;
}
#easyGesturesPieMenu .lastPage,
[data-action="lastPage"], .eG_lastPage {
  mask-position: -160px -32px;
}
#easyGesturesPieMenu .reload,
[data-action="reload"], .eG_reload {
  mask-position: -192px -32px;
}
#easyGesturesPieMenu .homepage,
[data-action="homepage"], .eG_homepage {
  mask-position: -224px -32px;
}
#easyGesturesPieMenu .pageTop,
[data-action="pageTop"], .eG_pageTop {
  mask-position: -256px -32px;
}
#easyGesturesPieMenu .pageBottom,
[data-action="pageBottom"], .eG_pageBottom {
  mask-position: -288px -32px;
}
#easyGesturesPieMenu .savePageAs,
[data-action="savePageAs"], .eG_savePageAs {
  mask-position: -320px -32px;
}
#easyGesturesPieMenu .printPage,
[data-action="printPage"], .eG_printPage {
  mask-position: -352px -32px;
}
#easyGesturesPieMenu .showPrintPreview,
[data-action="showPrintPreview"], .eG_showPrintPreview {
  mask-position: -384px -32px;
}
#easyGesturesPieMenu .searchWeb,
[data-action="searchWeb"], .eG_searchWeb {
  mask-position: -416px -32px;
}
#easyGesturesPieMenu .loadPageInNewTab,
[data-action="loadPageInNewTab"], .eG_loadPageInNewTab {
  mask-position: -0px -64px;
}
#easyGesturesPieMenu .loadPageInNewPrivateWindow,
[data-action="loadPageInNewPrivateWindow"], .eG_loadPageInNewPrivateWindow {
  mask-position: -32px -64px;
}
#easyGesturesPieMenu .moveTabToNewWindow,
[data-action="moveTabToNewWindow"], .eG_moveTabToNewWindow {
  mask-position: -64px -64px;
}
#easyGesturesPieMenu .copyPageURL,
[data-action="copyPageURL"], .eG_copyPageURL {
  mask-position: -96px -64px;
}
#easyGesturesPieMenu .copyURLToIdentifier,
[data-action="copyURLToIdentifier"], .eG_copyURLToIdentifier {
  mask-position: -128px -64px;
}
#easyGesturesPieMenu .zoomIn,
[data-action="zoomIn"], .eG_zoomIn {
  mask-position: -160px -64px;
}
#easyGesturesPieMenu .zoomOut,
[data-action="zoomOut"], .eG_zoomOut {
  mask-position: -192px -64px;
}
#easyGesturesPieMenu .zoomReset,
[data-action="zoomReset"], .eG_zoomReset {
  mask-position: -224px -64px;
}
#easyGesturesPieMenu .findAndHighlightSelection,
[data-action="findAndHighlightSelection"], .eG_findAndHighlightSelection {
  mask-position: -256px -64px;
}
#easyGesturesPieMenu .removeHighlight,
[data-action="removeHighlight"], .eG_removeHighlight {
  mask-position: -288px -64px;
}
#easyGesturesPieMenu .enterReaderMode,
[data-action="enterReaderMode"], .eG_enterReaderMode {
  mask-position: -320px -64px;
}
#easyGesturesPieMenu .takeTabScreenshot,
[data-action="takeTabScreenshot"], .eG_takeTabScreenshot {
  mask-position: -352px -64px;
}
#easyGesturesPieMenu .toggleFullscreen,
[data-action="toggleFullscreen"], .eG_toggleFullscreen {
  mask-position: -384px -64px;
}
#easyGesturesPieMenu .up,
[data-action="up"], .eG_up {
  mask-position: -416px -64px;
}
#easyGesturesPieMenu .root,
[data-action="root"], .eG_root {
  mask-position: -448px -64px;
}
#easyGesturesPieMenu .showOnlyThisFrame,
[data-action="showOnlyThisFrame"], .eG_showOnlyThisFrame {
  mask-position: -480px -64px;
}
#easyGesturesPieMenu .viewPageSource,
[data-action="viewPageSource"], .eG_viewPageSource {
  mask-position: -512px -64px;
}
#easyGesturesPieMenu .newTab,
[data-action="newTab"], .eG_newTab {
  mask-position: -0px -96px;
}
#easyGesturesPieMenu .newBlankTab,
[data-action="newBlankTab"], .eG_newBlankTab {
  mask-position: -32px -96px;
}
#easyGesturesPieMenu .duplicateTab,
[data-action="duplicateTab"], .eG_duplicateTab {
  mask-position: -64px -96px;
}
#easyGesturesPieMenu .closeTab,
[data-action="closeTab"], .eG_closeTab {
  mask-position: -96px -96px;
}
#easyGesturesPieMenu .closeOtherTabs,
[data-action="closeOtherTabs"], .eG_closeOtherTabs {
  mask-position: -128px -96px;
}
#easyGesturesPieMenu .undoCloseTab,
[data-action="undoCloseTab"], .eG_undoCloseTab {
  mask-position: -160px -96px;
}
#easyGesturesPieMenu .previousTab,
[data-action="previousTab"], .eG_previousTab {
  mask-position: -192px -96px;
}
#easyGesturesPieMenu .nextTab,
[data-action="nextTab"], .eG_nextTab {
  mask-position: -224px -96px;
}
#easyGesturesPieMenu .pinUnpinTab,
[data-action="pinUnpinTab"], .eG_pinUnpinTab {
  mask-position: -256px -96px;
}
#easyGesturesPieMenu .newWindow,
[data-action="newWindow"], .eG_newWindow {
  mask-position: -0px -128px;
}
#easyGesturesPieMenu .newBlankWindow,
[data-action="newBlankWindow"], .eG_newBlankWindow {
  mask-position: -32px -128px;
}
#easyGesturesPieMenu .newPrivateWindow,
[data-action="newPrivateWindow"], .eG_newPrivateWindow {
  mask-position: -64px -128px;
}
#easyGesturesPieMenu .duplicateWindow,
[data-action="duplicateWindow"], .eG_duplicateWindow {
  mask-position: -96px -128px;
}
#easyGesturesPieMenu .minimizeWindow,
[data-action="minimizeWindow"], .eG_minimizeWindow {
  mask-position: -128px -128px;
}
#easyGesturesPieMenu .closeWindow,
[data-action="closeWindow"], .eG_closeWindow {
  mask-position: -160px -128px;
}
#easyGesturesPieMenu .closeOtherWindows,
[data-action="closeOtherWindows"], .eG_closeOtherWindows {
  mask-position: -192px -128px;
}
#easyGesturesPieMenu .undoCloseWindow,
[data-action="undoCloseWindow"], .eG_undoCloseWindow {
  mask-position: -224px -128px;
}
#easyGesturesPieMenu .openLink,
[data-action="openLink"], .eG_openLink {
  mask-position: -0px -160px;
}
#easyGesturesPieMenu .openLinkInNewWindow,
[data-action="openLinkInNewWindow"], .eG_openLinkInNewWindow {
  mask-position: -32px -160px;
}
#easyGesturesPieMenu .openLinkInNewPrivateWindow,
[data-action="openLinkInNewPrivateWindow"], .eG_openLinkInNewPrivateWindow {
  mask-position: -64px -160px;
}
#easyGesturesPieMenu .copyLink,
[data-action="copyLink"], .eG_copyLink {
  mask-position: -96px -160px;
}
#easyGesturesPieMenu .saveLinkAs,
[data-action="saveLinkAs"], .eG_saveLinkAs {
  mask-position: -128px -160px;
}
#easyGesturesPieMenu .dailyReadings,
[data-action="dailyReadings"], .eG_dailyReadings {
  mask-position: 0px -192px;
}
#easyGesturesPieMenu .bookmarkThisPage,
[data-action="bookmarkThisPage"], .eG_bookmarkThisPage {
  mask-position: -32px -192px;
}
#easyGesturesPieMenu .bookmarkThisIdentifier,
[data-action="bookmarkThisIdentifier"], .eG_bookmarkThisIdentifier {
  mask-position: -64px -192px;
}
#easyGesturesPieMenu .bookmarkThisLink,
[data-action="bookmarkThisLink"], .eG_bookmarkThisLink {
  mask-position: -96px -192px;
}
#easyGesturesPieMenu .bookmarkAllTabs,
[data-action="bookmarkAllTabs"], .eG_bookmarkAllTabs {
  mask-position: -128px -192px;
}
#easyGesturesPieMenu .removeBookmarkToThisPage,
[data-action="removeBookmarkToThisPage"], .eG_removeBookmarkToThisPage {
  mask-position: -160px -192px;
}
#easyGesturesPieMenu .removeBookmarkToThisIdentifier,
[data-action="removeBookmarkToThisIdentifier"],
.eG_removeBookmarkToThisIdentifier {
  mask-position: -192px -192px;
}
#easyGesturesPieMenu .removeBookmarkToThisLink,
[data-action="removeBookmarkToThisLink"], .eG_removeBookmarkToThisLink {
  mask-position: -224px -192px;
}
#easyGesturesPieMenu .loadURL1,
[data-action="loadURL1"], .eG_loadURL1 {
  mask-position: -0px -224px;
}
#easyGesturesPieMenu .loadURL2,
[data-action="loadURL2"], .eG_loadURL2 {
  mask-position: -32px -224px;
}
#easyGesturesPieMenu .loadURL3,
[data-action="loadURL3"], .eG_loadURL3 {
  mask-position: -64px -224px;
}
#easyGesturesPieMenu .loadURL4,
[data-action="loadURL4"], .eG_loadURL4 {
  mask-position: -96px -224px;
}
#easyGesturesPieMenu .loadURL5,
[data-action="loadURL5"], .eG_loadURL5 {
  mask-position: -128px -224px;
}
#easyGesturesPieMenu .loadURL6,
[data-action="loadURL6"], .eG_loadURL6 {
  mask-position: -160px -224px;
}
#easyGesturesPieMenu .loadURL7,
[data-action="loadURL7"], .eG_loadURL7 {
  mask-position: -192px -224px;
}
#easyGesturesPieMenu .loadURL8,
[data-action="loadURL8"], .eG_loadURL8 {
  mask-position: -224px -224px;
}
#easyGesturesPieMenu .loadURL9,
[data-action="loadURL9"], .eG_loadURL9 {
  mask-position: -256px -224px;
}
#easyGesturesPieMenu .loadURL10,
[data-action="loadURL10"], .eG_loadURL10 {
  mask-position: -288px -224px;
}
#easyGesturesPieMenu .runScript1,
[data-action="runScript1"], .eG_runScript1 {
  mask-position: -0px -256px;
}
#easyGesturesPieMenu .runScript2,
[data-action="runScript2"], .eG_runScript2 {
  mask-position: -32px -256px;
}
#easyGesturesPieMenu .runScript3,
[data-action="runScript3"], .eG_runScript3 {
  mask-position: -64px -256px;
}
#easyGesturesPieMenu .runScript4,
[data-action="runScript4"], .eG_runScript4 {
  mask-position: -96px -256px;
}
#easyGesturesPieMenu .runScript5,
[data-action="runScript5"], .eG_runScript5 {
  mask-position: -128px -256px;
}
#easyGesturesPieMenu .runScript6,
[data-action="runScript6"], .eG_runScript6 {
  mask-position: -160px -256px;
}
#easyGesturesPieMenu .runScript7,
[data-action="runScript7"], .eG_runScript7 {
  mask-position: -192px -256px;
}
#easyGesturesPieMenu .runScript8,
[data-action="runScript8"], .eG_runScript8 {
  mask-position: -224px -256px;
}
#easyGesturesPieMenu .runScript9,
[data-action="runScript9"], .eG_runScript9 {
  mask-position: -256px -256px;
}
#easyGesturesPieMenu .runScript10,
[data-action="runScript10"], .eG_runScript10 {
  mask-position: -288px -256px;
}
#easyGesturesPieMenu .customIcon {
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
  mask-position: 6px 6px;
}
#easyGesturesPieMenu .easyGesturesNPreferences,
[data-action="easyGesturesNPreferences"], .eG_easyGesturesNPreferences {
  mask-position: 0px -288px;
}
#easyGesturesPieMenu .copyImageLocation,
[data-action="copyImageLocation"], .eG_copyImageLocation {
  mask-position: -0px -320px;
}
#easyGesturesPieMenu .copyImage,
[data-action="copyImage"], .eG_copyImage {
  mask-position: -32px -320px;
}
#easyGesturesPieMenu .saveImageAs,
[data-action="saveImageAs"], .eG_saveImageAs {
  mask-position: -64px -320px;
}
#easyGesturesPieMenu .hideImages,
[data-action="hideImages"], .eG_hideImages {
  mask-position: -96px -320px;
}
#easyGesturesPieMenu .cut,
[data-action="cut"], .eG_cut {
  mask-position: -0px -352px;
}
#easyGesturesPieMenu .copy,
[data-action="copy"], .eG_copy {
  mask-position: -32px -352px;
}
#easyGesturesPieMenu .paste,
[data-action="paste"], .eG_paste {
  mask-position: -64px -352px;
}
#easyGesturesPieMenu .selectAll,
[data-action="selectAll"], .eG_selectAll {
  mask-position: -96px -352px;
}

#easyGesturesPieMenu.smallIcons .empty {
  mask-position: -40px 0px;
}
#easyGesturesPieMenu.smallIcons .showExtraMenu {
  mask-position: 0px 0px;
}
#easyGesturesPieMenu.smallIcons .showExtraMenu.selected,
#easyGesturesPieMenu.smallIcons .showExtraMenu.showingExtraMenu {
  mask-position: -20px 0px;
}
#easyGesturesPieMenu.smallIcons .back {
  mask-position: 0px -20px;
}
#easyGesturesPieMenu.smallIcons .backSite {
  mask-position: -20px -20px;
}
#easyGesturesPieMenu.smallIcons .firstPage {
  mask-position: -40px -20px;
}
#easyGesturesPieMenu.smallIcons .forward {
  mask-position: -60px -20px;
}
#easyGesturesPieMenu.smallIcons .forwardSite {
  mask-position: -80px -20px;
}
#easyGesturesPieMenu.smallIcons .lastPage {
  mask-position: -100px -20px;
}
#easyGesturesPieMenu.smallIcons .reload {
  mask-position: -120px -20px;
}
#easyGesturesPieMenu.smallIcons .homepage {
  mask-position: -140px -20px;
}
#easyGesturesPieMenu.smallIcons .pageTop {
  mask-position: -160px -20px;
}
#easyGesturesPieMenu.smallIcons .pageBottom {
  mask-position: -180px -20px;
}
#easyGesturesPieMenu.smallIcons .savePageAs {
  mask-position: -200px -20px;
}
#easyGesturesPieMenu.smallIcons .printPage {
  mask-position: -220px -20px;
}
#easyGesturesPieMenu.smallIcons .showPrintPreview {
  mask-position: -240px -20px;
}
#easyGesturesPieMenu.smallIcons .searchWeb {
  mask-position: -260px -20px;
}
#easyGesturesPieMenu.smallIcons .loadPageInNewTab {
  mask-position: -0px -40px;
}
#easyGesturesPieMenu.smallIcons .loadPageInNewPrivateWindow {
  mask-position: -20px -40px;
}
#easyGesturesPieMenu.smallIcons .moveTabToNewWindow {
  mask-position: -40px -40px;
}
#easyGesturesPieMenu.smallIcons .copyPageURL {
  mask-position: -60px -40px;
}
#easyGesturesPieMenu.smallIcons .copyURLToIdentifier {
  mask-position: -80px -40px;
}
#easyGesturesPieMenu.smallIcons .zoomIn {
  mask-position: -100px -40px;
}
#easyGesturesPieMenu.smallIcons .zoomOut {
  mask-position: -120px -40px;
}
#easyGesturesPieMenu.smallIcons .zoomReset {
  mask-position: -140px -40px;
}
#easyGesturesPieMenu.smallIcons .findAndHighlightSelection {
  mask-position: -160px -40px;
}
#easyGesturesPieMenu.smallIcons .removeHighlight {
  mask-position: -180px -40px;
}
#easyGesturesPieMenu.smallIcons .enterReaderMode {
  mask-position: -200px -40px;
}
#easyGesturesPieMenu.smallIcons .takeTabScreenshot {
  mask-position: -220px -40px;
}
#easyGesturesPieMenu.smallIcons .toggleFullscreen {
  mask-position: -240px -40px;
}
#easyGesturesPieMenu.smallIcons .up {
  mask-position: -260px -40px;
}
#easyGesturesPieMenu.smallIcons .root {
  mask-position: -280px -40px;
}
#easyGesturesPieMenu.smallIcons .showOnlyThisFrame {
  mask-position: -300px -40px;
}
#easyGesturesPieMenu.smallIcons .viewPageSource {
  mask-position: -320px -40px;
}
#easyGesturesPieMenu.smallIcons .newTab {
  mask-position: -0px -60px;
}
#easyGesturesPieMenu.smallIcons .newBlankTab {
  mask-position: -20px -60px;
}
#easyGesturesPieMenu.smallIcons .duplicateTab {
  mask-position: -40px -60px;
}
#easyGesturesPieMenu.smallIcons .closeTab {
  mask-position: -60px -60px;
}
#easyGesturesPieMenu.smallIcons .closeOtherTabs {
  mask-position: -80px -60px;
}
#easyGesturesPieMenu.smallIcons .undoCloseTab {
  mask-position: -100px -60px;
}
#easyGesturesPieMenu.smallIcons .previousTab {
  mask-position: -120px -60px;
}
#easyGesturesPieMenu.smallIcons .nextTab {
  mask-position: -140px -60px;
}
#easyGesturesPieMenu.smallIcons .pinUnpinTab {
  mask-position: -160px -60px;
}
#easyGesturesPieMenu.smallIcons .newWindow {
  mask-position: -0px -80px;
}
#easyGesturesPieMenu.smallIcons .newBlankWindow {
  mask-position: -20px -80px;
}
#easyGesturesPieMenu.smallIcons .newPrivateWindow {
  mask-position: -40px -80px;
}
#easyGesturesPieMenu.smallIcons .duplicateWindow {
  mask-position: -60px -80px;
}
#easyGesturesPieMenu.smallIcons .minimizeWindow {
  mask-position: -80px -80px;
}
#easyGesturesPieMenu.smallIcons .closeWindow {
  mask-position: -100px -80px;
}
#easyGesturesPieMenu.smallIcons .closeOtherWindows {
  mask-position: -120px -80px;
}
#easyGesturesPieMenu.smallIcons .undoCloseWindow {
  mask-position: -140px -80px;
}
#easyGesturesPieMenu.smallIcons .openLink {
  mask-position: -0px -100px;
}
#easyGesturesPieMenu.smallIcons .openLinkInNewWindow {
  mask-position: -20px -100px;
}
#easyGesturesPieMenu.smallIcons .openLinkInNewPrivateWindow {
  mask-position: -40px -100px;
}
#easyGesturesPieMenu.smallIcons .copyLink {
  mask-position: -60px -100px;
}
#easyGesturesPieMenu.smallIcons .saveLinkAs {
  mask-position: -80px -100px;
}
#easyGesturesPieMenu.smallIcons .dailyReadings {
  mask-position: 0px -120px;
}
#easyGesturesPieMenu.smallIcons .bookmarkThisPage {
  mask-position: -20px -120px;
}
#easyGesturesPieMenu.smallIcons .bookmarkThisIdentifier {
  mask-position: -40px -120px;
}
#easyGesturesPieMenu.smallIcons .bookmarkThisLink {
  mask-position: -60px -120px;
}
#easyGesturesPieMenu.smallIcons .bookmarkAllTabs {
  mask-position: -80px -120px;
}
#easyGesturesPieMenu.smallIcons .removeBookmarkToThisPage {
  mask-position: -100px -120px;
}
#easyGesturesPieMenu.smallIcons .removeBookmarkToThisIdentifier {
  mask-position: -120px -120px;
}
#easyGesturesPieMenu.smallIcons .removeBookmarkToThisLink {
  mask-position: -140px -120px;
}
#easyGesturesPieMenu.smallIcons .loadURL1 {
  mask-position: -0px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL2 {
  mask-position: -20px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL3 {
  mask-position: -40px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL4 {
  mask-position: -60px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL5 {
  mask-position: -80px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL6 {
  mask-position: -100px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL7 {
  mask-position: -120px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL8 {
  mask-position: -140px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL9 {
  mask-position: -160px -140px;
}
#easyGesturesPieMenu.smallIcons .loadURL10 {
  mask-position: -180px -140px;
}
#easyGesturesPieMenu.smallIcons .runScript1 {
  mask-position: -0px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript2 {
  mask-position: -20px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript3 {
  mask-position: -40px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript4 {
  mask-position: -60px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript5 {
  mask-position: -80px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript6 {
  mask-position: -100px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript7 {
  mask-position: -120px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript8 {
  mask-position: -140px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript9 {
  mask-position: -160px -160px;
}
#easyGesturesPieMenu.smallIcons .runScript10 {
  mask-position: -180px -160px;
}
#easyGesturesPieMenu.smallIcons .customIcon {
  mask-repeat: no-repeat;
  mask-size: 12.5px 12.5px;
  mask-position: 3.75px 3.75px;
}
#easyGesturesPieMenu.smallIcons .easyGesturesNPreferences {
  mask-position: 0px -180px;
}
#easyGesturesPieMenu.smallIcons .copyImageLocation {
  mask-position: -0px -200px;
}
#easyGesturesPieMenu.smallIcons .copyImage {
  mask-position: -20px -200px;
}
#easyGesturesPieMenu.smallIcons .saveImageAs {
  mask-position: -40px -200px;
}
#easyGesturesPieMenu.smallIcons .hideImages {
  mask-position: -60px -200px;
}
#easyGesturesPieMenu.smallIcons .cut {
  mask-position: -0px -220px;
}
#easyGesturesPieMenu.smallIcons .copy {
  mask-position: -20px -220px;
}
#easyGesturesPieMenu.smallIcons .paste {
  mask-position: -40px -220px;
}
#easyGesturesPieMenu.smallIcons .selectAll {
  mask-position: -60px -220px;
}


/* SMALL ICONS */

span[class^="eG_"] {
  display: inline-block;
  background-color: black;
  mask-image: url("actions.svg");
  width: 32px;
  height: 32px;
}
