/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

body {
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-family: sans-serif;
  accent-color: hsl(300, 100%, 25%); /* purple */
}

input {
  vertical-align: middle;
  font-family: sans-serif;
  font-size: smaller;
}

#tipNumber {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: smaller;
}

#tip {
  text-align: justify;
  white-space: pre-line;
}

#tipTextLink {
  color: rgb(0, 0, 238);
  cursor: pointer;
}

#tipTextLink:hover {
  text-decoration: underline;
}


#tipImages {
  margin-bottom: 1em;
}
#tipImages div {
  display: none;
  background-image: url("tips.png");
  margin-left: auto;
  margin-right: auto;
}
/* using div in the next rule to match its specificity to the previous rule's */
div#menusCustomization, div#zoomOnImage, div#openLinkAction,
div#dailyReadingsAction {
  background-image: none;
  background-color: black;
  mask-image: url("../content/actions.svg");
}

#openButton { background-position: 0px -1px; width: 283px; height: 123px; }
#dragToAction { background-position: 0px -125px; width: 454px; height: 123px; }
#openAltMenu { background-position: 0px -249px; width: 687px; height: 138px; }
#menusCustomization {
  width: 434px;
  height: 306px;
  mask-size: 434px 306px;
}
#openExtraMenu { background-position: 0px -695px; width: 294px; height: 197px;}
#clickOnLink { background-position: 0px -893px; width: 409px; height: 123px; }
#tooltips { background-position: 0px -1017px; width: 402px; height: 163px; }
#loadURLActions { background-position: 0px -1181px; width: 402px; height: 163px; }
#runScriptActions { background-position: 0px -1345px; width: 402px; height: 163px; }
#contextualMenus { background-position: 0px -1509px; width: 689px; height: 143px; }
#zoomOnImage {
  width: calc(3 * 64px);
  height: calc(3 * 32px);
  mask-position: calc(-3 * 160px) calc(-3 * 64px);
  mask-size: auto calc(3 * 384px);
}
#openLinkAction {
  width: calc(3 * 32px);
  height: calc(3 * 32px);
  mask-position: 0 calc(-3 * 160px);
  mask-size: auto calc(3 * 384px);
}
#dailyReadingsAction {
  width: calc(3 * 32px);
  height: calc(3 * 32px);
  mask-position: 0 calc(-3 * 192px);
  mask-size: auto calc(3 * 384px);
}

#showTipsLabel {
  font-size: smaller;
}
