/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@media (prefers-color-scheme: light) {
  body {
    --background-color: white;
    --foreground-color: black;
    --accent-color: hsl(300, 100%, 25%); /* purple */
    --text-link-color: rgb(0, 0, 238);
    --nav-background-color: hsla(0, 100%, 100%, 0.8);
    --hover-color: hsla(300, 100%, 25%, 0.75);
    --accent-text-color: white;
    --message-border-color: hsl(55, 100%, 39%);
    --message-background-color: hsl(55, 100%, 89%);
    --disabled-color: hsl(0, 0%, 80%);
    --usage-bar-color: hsl(0, 0%, 60%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: hsl(0, 0%, 10%);
    --foreground-color: white;
    --accent-color: hsl(300, 100%, 25%); /* purple */
    --text-link-color: hsl(45, 100%, 60%);
    --nav-background-color: hsla(0, 0%, 10%, 0.8);
    --hover-color: hsla(300, 100%, 25%, 0.75);
    --accent-text-color: white;
    --message-border-color: hsl(55, 100%, 75%);
    --message-background-color: hsl(55, 100%, 25%);
    --disabled-color: hsl(0, 0%, 40%);
    --usage-bar-color: hsl(0, 0%, 60%);
  }
  
  input, button, select, textarea {
    border: solid 2px hsl(0, 0%, 40%);
    border-radius: 2px 2px;
    background-color: hsl(0, 0%, 20%);
    color: white;
  }
  
  button:hover {
    background-color: hsl(0, 0%, 25%);
  }
  
  button:active {
    background-color: hsl(0, 0%, 30%);
  }
  
  button:disabled, input[type="text"]:disabled {
    background-color: hsl(0, 0%, 20%);
  }
  
  #usage .menu div {
    color: var(--background-color);
  }
  
  #usage .menu:not(.extra) div.total {
    color: var(--foreground-color);
  }
}

body {
  --menu-select-width: 175px;
  min-width: 896px;
  max-width: 1024px;
  margin-top: 1em;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: sans-serif;
  accent-color: var(--accent-color);
}

a {
  color: var(--text-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin-left: 180px;
}

nav {
  z-index: 1;
  position: fixed;
  width: 160px;
  background-color: var(--nav-background-color);
  font-size: larger;
}

nav a {
  display: block;
  padding: 0.25em;
  text-align: right;
  color: var(--foreground-color);
}

nav a:hover {
  background-color: var(--hover-color);
  color: var(--accent-text-color);
  text-decoration: none;
}

.selectedPaneLabel {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.pane, .tab {
  display: none;
}

.pane.selected, .tab.selected {
  display: block;
}

.pane .tabbox {
  margin-bottom: 0.75em;
  text-align: center;
}

.tabbox a {
  display: inline-block;
  border: solid 0.2em var(--accent-color);
  border-right: none;
  padding: 0.1em 0.25em;
  color: var(--accent-color);
}

.tabbox a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tabbox a:last-child {
  border-right: solid 0.2em var(--accent-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tabbox a:hover {
  background-color: var(--hover-color);
  color: var(--accent-text-color);
  text-decoration: none;
}

.tabbox .selectedTabLabel {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

h1 {
  display: flex;
  align-items: center;
  margin: 0 0 0.75em 0;
  padding-top: 0.25em;
  font-size: larger;
}

h1 > span:first-child {
  margin-right: 0.25em;
}

:is(h1, h2) ~ div {
  margin: 0 0 0.75em 1.5em;
}

h1 ~ div > div {
  margin-bottom: 0.25em;
}

h2 {
  margin: 0 0 0.75em 0;
  padding-top: 0.25em;
  font-size: medium;
}

button, select, input[type="text"], input[type="url"] {
  font-size: inherit;
}

input[type="number"] {
  width: 4em;
}

.message {
  margin-bottom: 0.75em;
  border-left: dashed 0.2em var(--message-border-color);
  padding: 0.5em;
  background-color: var(--message-background-color);
}

.message p {
  margin: 0;
}

.message p + p {
  margin-top: 0.5em;
}

.disabled, :disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}

#openLinksThroughPieMenuCenterConfiguration a {
  margin-left: 0.5em;
}

#menus .indented {
  width: calc(2 * var(--menu-select-width) + 41px + 1em);
  margin-left: auto;
  margin-right: auto;
}

#menus .menu {
  --menu-top-bottom-margin: 25px;
  --menu-select-menu-preview-spacing: 3px;
  position: relative;
  width: calc(-2 * var(--actions-node-offset) + 2 * var(--menu-select-width) +
              2 * var(--menu-select-menu-preview-spacing));
  height: calc(-2 * var(--actions-node-offset) +
               2 * var(--menu-top-bottom-margin));
  margin-left: auto;
  margin-top: 0.75em;
  margin-right: auto;
}

#menus .menu > div:first-child {
  position: relative;
  left: calc(var(--menu-select-width) + var(--menu-select-menu-preview-spacing));
  top: var(--menu-top-bottom-margin);
  width: calc(-2 * var(--actions-node-offset));
  height: calc(-2 * var(--actions-node-offset));
  mask-image: url("../content/menu.svg");
  mask-size: calc(-2 * var(--actions-node-offset) * 3);
  background-color: var(--pie-menu-background-color);
}

#menus .menu > div:first-child::after {
  display: block;
  width: calc(-2 * var(--actions-node-offset));
  height: calc(-2 * var(--actions-node-offset));
  mask-image: url("../content/menu.svg");
  mask-position: calc(4 * var(--actions-node-offset)) 0px;
  mask-size: calc(-2 * var(--actions-node-offset) * 3);
  background-color: var(--pie-menu-border-color);
  content: "";
}

#menus .menu.extra {
  height: calc(var(--extra-menu-height) + var(--menu-top-bottom-margin));
}

#menus .menu.extra > div:first-child {
  height: var(--extra-menu-height);
  mask-position: 0px calc(2 * var(--actions-node-offset));
}

#menus .menu.extra > div:first-child::after {
  mask-position: calc(4 * var(--actions-node-offset))
                 calc(2 * var(--actions-node-offset));
}

#menus .menuIcon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  mask-image: url("../content/actions.svg");
  mask-position: calc(var(--icon-position-x) * -1 * var(--icon-size))
                 calc(var(--icon-position-y) * -1 * var(--icon-size));
  background-color: var(--enabled-action-color);
}

.menuSelect {
  display: flex;
  align-items: center;
  position: absolute;
  width: var(--menu-select-width);
  height: var(--icon-size);
  font-size: smaller;
}

.menuSelect select {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuSelect.sector0,
.menu.extra.large .menuSelect.sector0 {
  top: calc(var(--cardinal-action-farthest-border-offset) +
            var(--menu-top-bottom-margin));
  right: 0px;
}
.menuSelect.sector1,
.menu.extra.large .menuSelect.sector1 {
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) -
            var(--icon-border) + var(--menu-top-bottom-margin));
  right: 0px;
}
.menuSelect.sector2,
.menu.extra.large .menuSelect.sector2 {
  left: calc(var(--icon-size) / 2);
  top: calc(var(--cardinal-action-farthest-border-offset) -
            2 * var(--icon-size) - 2 * var(--icon-border) +
            var(--menu-top-bottom-margin));
}
.menuSelect.sector3,
.menu.extra.large .menuSelect.sector3 {
  left: 0px;
  top: calc(var(--cardinal-action-farthest-border-offset) - var(--icon-size) -
            var(--icon-border) + var(--menu-top-bottom-margin));
}
.menuSelect.sector4,
.menu.extra.large .menuSelect.sector4 {
  left: 0px;
  top: calc(var(--cardinal-action-farthest-border-offset) +
            var(--menu-top-bottom-margin));
}
.menuSelect.sector5 {
  display: none;
}
.menuSelect.sector6 {
  left: 0px;
  top: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) +
            var(--menu-top-bottom-margin));
}
.menuSelect.sector7 {
  top: calc(var(--cardinal-action-farthest-border-offset) +
            2 * var(--icon-size) + var(--menu-top-bottom-margin));
  right: calc(var(--icon-size) / 2);
}
.menuSelect.sector8 {
  top: calc(var(--cardinal-action-farthest-border-offset) + var(--icon-size) +
            var(--menu-top-bottom-margin));
  right: 0px;
}
.menuSelect.sector9 {
  display: none;
}

.menu.large .menuSelect.sector0,
.menu.large .menuSelect.sector4 {
  top: calc(-1 * var(--actions-node-offset) - var(--icon-size) +
            var(--menu-top-bottom-margin));
}
.menu.large .menuSelect.sector1,
.menu.large .menuSelect.sector3 {
  top: calc(-1 * var(--actions-node-offset) - 2 * var(--icon-size) +
            var(--icon-border) + var(--menu-top-bottom-margin));
}
.menu.large .menuSelect.sector2 {
  top: calc(-1 * var(--actions-node-offset) - 3 * var(--icon-size) +
            var(--icon-border) + var(--menu-top-bottom-margin));
}
.menu.large .menuSelect.sector5 {
  display: flex;
  left: 0px;
  top: calc(-1 * var(--actions-node-offset) + var(--menu-top-bottom-margin));
}
.menu.large .menuSelect.sector6,
.menu.large .menuSelect.sector8 {
  top: calc(-1 * var(--actions-node-offset) + var(--icon-size) -
            var(--icon-border) + var(--menu-top-bottom-margin));
}
.menu.large .menuSelect.sector7 {
  top: calc(-1 * var(--actions-node-offset) + 2 * var(--icon-size) -
            var(--icon-border) + var(--menu-top-bottom-margin));
}
.menu.large .menuSelect.sector9 {
  display: flex;
  right: 0px;
  top: calc(-1 * var(--actions-node-offset) + var(--menu-top-bottom-margin));
}

#resetMenusSection {
  display: flex;
  margin-top: 0.75em;
}

#resetMenusButton {
  margin-left: auto;
}

.actionIcon {
  --icon-size: 32px;
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  mask-image: url("../content/actions.svg");
  mask-position: calc(var(--icon-position-x) * -1 * var(--icon-size))
                 calc(var(--icon-position-y) * -1 * var(--icon-size));
  background-color: var(--foreground-color);
}

th {
  text-align: left;
  font-weight: normal;
}

#customizations img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 0.5em;
  vertical-align: middle;
}

#customizations textarea {
  font-family: inherit; /* required for font-size to inherit */
  font-size: inherit;
}

#usageResetSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75em;
}

#usageResetSection p {
  margin: 0;
}

#usageResetSection button {
  margin-left: auto;
}

#usage_clicksByAction {
  column-count: 5;
}

#usage_clicksByAction div {
  height: 32px;
  line-height: 32px;
}

#usage_clicksByAction span {
  display: inline-block;
  vertical-align: middle;
}

#usage_clicksByAction span + span {
  margin-left: 5px;
}

#usage_clicksByAction span:nth-child(2) {
  max-width: 50px;
  height: 20px;
  background-color: var(--usage-bar-color);
}

#usage_clicksByDirection > div {
  display: flex;
  justify-content: space-between;
}

#usage_clicksByDirection > div > div:first-child {
  font-weight: bold;
}

#usage_clicksByDirection > div > div:first-child div:nth-child(1) {
  height: 1em;
}

#usage_clicksByDirection > div > div:first-child div:nth-child(2) {
  height: calc(-2 * var(--actions-node-offset));
  line-height: calc(-2 * var(--actions-node-offset));
}

#usage_clicksByDirection > div > div:first-child div:nth-child(3) {
  height: var(--extra-menu-height);
  line-height: var(--extra-menu-height);
}

#usage_clicksByDirection > div > div > div:first-child {
  text-align: center;
  font-weight: bold;
}

#usage_clicksByDirection > div > div > div + div {
  margin-top: 1em;
}

#usage .menu {
  position: relative;
  width: calc(-2 * var(--actions-node-offset));
  height: calc(-2 * var(--actions-node-offset));
  background-image: url("../content/menu.svg");
  background-size: calc(-2 * var(--actions-node-offset) * 3);
}

#usage .menu.extra {
  height: var(--extra-menu-height);
  background-position: 0px calc(2 * var(--actions-node-offset));
}

#usage .menu div {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  line-height: var(--icon-size);
  text-align: center;
  font-size: smaller;
}

#usage .menu div.total {
  left: var(--cardinal-action-farthest-border-offset);
  top: var(--cardinal-action-farthest-border-offset);
  font-weight: bold;
}
